<div class="ui-fluid">
	<div class="ui-g">
		<div class="ui-g-12">
			<div class="card card-w-title">
				<p-confirmDialog header="Confirmation" icon="fa fa-question-circle" width="425"></p-confirmDialog>
				<h1>{{'frmKelompokTransaksi_title' | translate | splitCharT }}</h1>
				<form [formGroup]="form" (ngSubmit)="onSubmit()">
					<div class="ui-g form-group">
						<div class="ui-g-12">
							<div class="ui-g-6">
								<div class="ui-g-12 ui-md-10" >
									<label for="input" >{{'frmKelompokTransaksi_kodeKelompokTransaksi'| translate | splitCharT }}</label>
									<input id="input" type="text" formControlName="kdKelompokTransaksi" pInputText readonly="true" disabled />
								</div>
								<div class="ui-g-12 ui-md-10">
									<label>{{'frmKelompokTransaksi_nama'| translate | splitCharT}}
										<span style="color: red;font-weight: bolder;">*</span>
										<span *ngIf="!form.get('namaKelompokTransaksi').valid && form.get('namaKelompokTransaksi').touched" style="color: red"> {{'frmKelompokTransaksi_required'| translate | splitCharT}}</span>
									</label>
									<input id="input" type="text" formControlName="namaKelompokTransaksi" [(ngModel)]="toReport" (ngModelChange)="valuechange($event)" maxlength="50" pInputText/>
								</div>
								<!-- <div class="ui-g-12 ui-md-10">
									<p-checkbox binary="true" label="{{'frmKelompokTransaksi_isCostinOut'| translate | splitCharT }}" formControlName="isCostInOut"></p-checkbox>
								</div> -->
								<div class="ui-g-12 ui-md-10">
									<p-checkbox binary="true" label="{{'frmKelompokTransaksi_status'| translate | splitCharT }}" formControlName="statusEnabled"></p-checkbox>
									<span *ngIf="!form.get('statusEnabled').valid && form.get('statusEnabled').touched" style="color: red"> *</span>
									<span *ngIf="!form.get('statusEnabled').valid && form.get('statusEnabled').touched" style="color: red"> {{'frmKelompokTransaksi_required'| translate | splitCharT}}</span>
								</div>
							</div>
							
							<div class="ui-g-6">
								<p-fieldset legend="{{'frmKelompokTransaksi_optional'| translate | splitCharT}}" [toggleable]="true" [collapsed]="true">
									<form [formGroup]="form" (ngSubmit)="onSubmit()">
										<div class="ui-g-12 ui-md-10">
											<label>{{'frmKelompokTransaksi_reportDisplay'| translate | splitCharT}}
												<span *ngIf="!form.get('reportDisplay').valid && form.get('reportDisplay').touched" style="color: red"> *</span>
												<span *ngIf="!form.get('reportDisplay').valid && form.get('reportDisplay').touched" style="color: red"> {{'frmKelompokTransaksi_required'| translate | splitCharT}}</span>
											</label>
											<input id="input" type="text" formControlName="reportDisplay" maxlength="50" [(ngModel)]="report" pInputText/>
											
										</div>
										<div class="ui-g-12 ui-md-10">
											<label>{{'frmKelompokTransaksi_kodeExternal'| translate | splitCharT}}</label>
											<input id="input" type="text" formControlName="kodeExternal" maxlength="15" pInputText/>
										</div>
										<div class="ui-g-12 ui-md-10">
											<label>{{'frmKelompokTransaksi_namaExternal'| translate | splitCharT}}</label>
											<input id="input" type="text" formControlName="namaExternal" maxlength="50" pInputText/>
										</div>
									</form>
								</p-fieldset>
							</div>
							
							<div class="ui-g-12">
								<div class="ui-g-12 ui-md-7"></div>
								<div class="ui-g-12 ui-md-1">
									<button pButton type="button" label="{{'frmKelompokTransaksi_btnBatal'| translate | splitCharT}}" icon="fa-refresh" (click)="reset()"></button>
								</div>
								<div class="ui-g-12 ui-md-1">
									<button pButton type="submit" label="{{'frmKelompokTransaksi_btnSimpan'| translate | splitCharT}}" icon="fa-save"></button>
								</div>
								<div class="ui-g-12 ui-md-1">
									<button pButton type="button" label="{{'frmKelompokTransaksi_btnHapus'| translate | splitCharT}}" icon="fa-trash" (click)="confirmDelete()"></button>
								</div>
								<div class="ui-g-12 ui-md-1">
									<button pButton type="button" label="{{'frmKelompokTransaksi_btnCetak'| translate | splitCharT}}" icon="fa-print" (click)="cetak()"></button>
								</div>
								<div class="ui-g-12 ui-md-1">
									<p-splitButton label="{{'frmKelompokTransaksi_btnExport'| translate | splitCharT }}" icon="fa-external-link" [model]="items"></p-splitButton>
									
								</div>
							</div>
						</div>
					</div>
				</form>
				
				<div class="ui-g-12">
					
					<p-dataTable [value]="listData" [rows]="10" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]" selectionMode="single" [(selection)]="selected" (onRowSelect)="onRowSelect($event)" [lazy]="true" [loading]="loading" loadingIcon="fa-spinner" [totalRecords]="totalRecords" (onLazyLoad)="loadPage($event)" expandableRows="true">
						
						<p-header>
							<div class="ui-helper-clearfix">
								<i class="fa fa-search" style="padding:0.5em 0.5em;float:right"></i>
								<input type="text" pInputText size="50" placeholder="{{'frmKelompokTransaksi_tablePencarian'| translate | splitCharT}}" [(ngModel)]="pencarian" (keyup)="cari()" style="width: 20%;float:right;">
								<span style="float: left;padding:0.3em;">{{'frmKelompokTransaksi_tableTitle'| translate | splitCharT }}</span>
							</div>
						</p-header>
						<p-column expander="true" styleClass="col-icon" [style]="{'width':'50px'}"> </p-column>
						<p-column field="kdKelompokTransaksi" header="{{'frmKelompokTransaksi_tableKodeKelompokTransaksi' | translate | splitCharT }}"></p-column>
						<p-column field="namaKelompokTransaksi" header="{{'frmKelompokTransaksi_tableNama' | translate | splitCharT }}"></p-column>
						<!-- <p-column field="isCostInOut" header="IsCostInOut">
							<ng-template pTemplate="body" let-data="rowData" let-col>
								<span *ngIf="data.isCostInOut == 1">In</span>
								<span *ngIf="data.isCostInOut == 0">Out</span>
							</ng-template>
						</p-column>
						<p-column field="isRealSK" header="isRealSK">
							<ng-template pTemplate="body" let-data="rowData" let-col>
								<span *ngIf="data.isRealSK == 1">Ya</span>
								<span *ngIf="data.isRealSK == 0">Tidak</span>
							</ng-template>
						</p-column> -->
						<p-column field="statusEnabled" header="{{'frmKelompokTransaksi_tableStatus'| translate | splitCharT }}">
							<ng-template let-col="rowData" pTemplate type="body">
								{{col.statusEnabled | truefalse | translate | splitCharT }}
							</ng-template> 
						</p-column>
						<ng-template let-kelp pTemplate="rowexpansion">
							<div class="ui-grid ui-grid-responsive ui-fluid" style="padding-left:27px">
								<div class="ui-grid ui-grid-responsive ui-grid-pad">
									<div class="ui-grid-col-12">
										<div class="ui-grid ui-grid-responsive ui-grid-pad">
											<div class="ui-grid-row">
												<div class="ui-grid-col-2 label">
													<span style="color:black">{{ 'frmKelompokTransaksi_optional' | translate | splitCharT }}</span>
												</div>
											</div>
											<hr>
											<div class="ui-grid-row">
												<div class="ui-grid label">{{'frmKelompokTransaksi_tableReportDisplay'| translate | splitCharT }} </div>
												<div class="ui-grid-col-4"> {{kelp.reportDisplay}}</div>
											</div>
											<div class="ui-grid-row">
												<div class="ui-grid label">{{'frmKelompokTransaksi_tableKodeExternal' | translate | splitCharT}} </div>
												<div class="ui-grid-col-4">{{kelp.kodeExternal}}</div>
											</div>
											<div class="ui-grid-row">
												<div class="ui-grid label">{{'frmKelompokTransaksi_tableNamaExternal'| translate | splitCharT}} </div>
												<div class="ui-grid-col-4">{{kelp.namaExternal}}</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</ng-template>
					</p-dataTable>
				</div>
			</div>
		</div>
	</div>
</div>