<div class="ui-fluid">
	<div class="ui-g">
		<div class="ui-g-12">
			<div class="card card-w-title">
				<p-confirmDialog header="Confirmation" icon="fa fa-question-circle" width="425"></p-confirmDialog>
				<h1>{{'frmMasterFakultas_title'| translate | splitCharT }}</h1>
				<div class="ui-g form-group">
					<div class="ui-g-12">
						<form [formGroup]="form">
							<div class="ui-g-4">
								<div class="ui-g-12 ui-md-10" hidden>
									<span class="ui-float-label" hidden>
										<input id="input" type="text" hidden formControlName="kode" pInputText disabled />
										<label for="input" hidden>{{'frmMasterFakultas_kdFakultas'| translate | splitCharT }}</label>
									</span>
								</div>
								<div class="ui-g-12 ui-md-10">
									<label for="input">{{'frmMasterFakultas_parent'| translate | splitCharT }}</label>
									<p-dropdown id="dropdown" filter="filter" class="ui-inputwrapper-filled" formControlName="kdFakultasHead" [options]="listFakultas"
									[autoWidth]="false"></p-dropdown>
								</div>
								<div class="ui-g-12 ui-md-10">
									<label for="input">{{'frmMasterFakultas_pegawaiKepala'| translate | splitCharT }}</label>
									<p-dropdown id="dropdown" filter="filter" class="ui-inputwrapper-filled" formControlName="kdPegawaiKepala" [options]="listPegawaiKepala"
									[autoWidth]="false"></p-dropdown>
								</div>
								<div class="ui-g-12 ui-md-10">
									<label for="input">{{'frmMasterFakultas_namaFakultas'| translate | splitCharT }} <span style="color: red;font-weight: bolder;">*</span>
                                            <span *ngIf="!form.get('namaFakultas').valid && form.get('namaFakultas').touched" style="color: red"> {{'frmMasterFakultas_required'| translate | splitCharT}}</span></label>
									<input id="input" type="text" formControlName="namaFakultas" maxlength="100" (keyup)="setReportDisplay()" pInputText
									/>
									
								</div>								
							</div>
							<div class="ui-g-4">
								<div class="ui-g-12 ui-md-10">
									<label for="input">{{'frmMasterFakultas_tanggalBerdiri'| translate | splitCharT }}</label>
									<app-calender formControlName="tglBerdiri" dateFormat="dd M yy" [showIcon]="true" [monthNavigator]="true" [yearNavigator]="true"
									yearRange="1850:2050"></app-calender>
								</div>
								<div class="ui-g-12 ui-md-10">
									<label for="input">{{'frmMasterFakultas_noSKBerdiri'| translate | splitCharT }}</label>
									<input type="text" formControlName="noSKBerdiri" maxlength="10" pInputText />
								</div>
								<div class="ui-g-12 ui-md-10">
									<p-checkbox binary="true" label="{{'frmMasterFakultas_statusEnabled'| translate | splitCharT }}" formControlName="statusEnabled"></p-checkbox>
									<span *ngIf="!form.get('statusEnabled').valid && form.get('statusEnabled').touched" style="color: red">*</span>
										<span *ngIf="!form.get('statusEnabled').valid && form.get('statusEnabled').touched" style="color: red">{{'frmMasterFakultas_required'| translate | splitCharT}}</span>
								</div>
							</div>
							<div class="ui-g-4">
								<p-fieldset legend="{{'frmMasterFakultas_Optional'| translate | splitCharT }}" [toggleable]="true" [collapsed]="true">
									<form [formGroup]="form">
										<div class="ui-g-12 ui-md-10">
											<label for="input">{{'frmMasterFakultas_reportDisplay'| translate | splitCharT }} <span *ngIf="!form.get('reportDisplay').valid && form.get('reportDisplay').touched" style="color: red"></span>
                            <span *ngIf="!form.get('reportDisplay').valid && form.get('reportDisplay').touched" style="color: red">* {{'frmMasterFakultas_required'| translate | splitCharT}}</span></label>
											<input id="input" type="text" formControlName="reportDisplay" [(ngModel)]="report" maxlength="100" pInputText/>
											<!-- <span *ngIf="!form.get('reportDisplay').valid && form.get('reportDisplay').touched" style="color: red">*{{'isRequired'| translate | splitCharT}}</span> -->
										</div>
										<div class="ui-g-12 ui-md-10">
											<label for="input">{{'frmMasterFakultas_kodeEksternal'| translate | splitCharT }}</label>
											<input id="input" type="text" formControlName="kodeExternal" maxlength="15" pInputText/>
										</div>
										<div class="ui-g-12 ui-md-10">
											<label for="input">{{'frmMasterFakultas_namaEksternal'| translate | splitCharT }}</label>
											<input id="input" type="text" formControlName="namaExternal" maxlength="100" pInputText/>
										</div>
									</form>
								</p-fieldset>
							</div>
							<div class="ui-g-12">
								<div class="ui-g-12 ui-md-7"></div>
								<div class="ui-g-12 ui-md-1">
									<button pButton type="button" label="{{'frmMasterFakultas_btnBatal'| translate | splitCharT}}" icon="fa-refresh" (click)="reset()"></button>
								</div>
								<div class="ui-g-12 ui-md-1">
									<button pButton type="submit" label="{{'frmMasterFakultas_btnSimpan'| translate | splitCharT}}" icon="fa-save" (click)="onSubmit()"></button>
								</div>
								<div class="ui-g-12 ui-md-1">
									<button pButton type="button" label="{{'frmMasterFakultas_btnHapus'| translate | splitCharT}}" icon="fa-trash" (click)="confirmDelete()"></button>
								</div>								
								<div class="ui-g-12 ui-md-1">
									<button pButton type="button" label="{{'frmMasterFakultas_btnCetak'| translate | splitCharT }}" icon="fa-print" (click)="cetak()"></button>
								</div>
								<div class="ui-g-12 ui-md-1">
									<p-splitButton label="{{'frmMasterFakultas_btnExport'| translate | splitCharT }}" icon="fa-external-link" [model]="items"></p-splitButton>
								</div>
							</div>
						</form>
					</div>
					<div class="ui-g-12">
						<p-dataTable [value]="listData" [rows]="10" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]" selectionMode="single" [(selection)]="selected" (onRowSelect)="onRowSelect($event)" [lazy]="true" [loading]="Loading" loadingIcon="fa-spinner" [totalRecords]="totalRecords" (onLazyLoad)="loadPage($event)" expandableRows="true">
							<p-header>
								<div class="ui-helper-clearfix">
									<i class="fa fa-search" style="padding:0.5em 0.5em;float:right"></i>
									<input type="text" pInputText size="50" placeholder="{{'frmMasterFakultas_pencarianNamaFakultas'| translate | splitCharT}}" [(ngModel)]="pencarian" (keypress)="cari()"
									style="width: 20%;float:right;">
									<span style="float: left;padding:0.3em;">{{'frmMasterFakultas_daftarMasterFakultas'| translate | splitCharT}}</span>
								</div>
							</p-header>
							<p-column expander="true" styleClass="col-icon" [style]="{'width':'50px'}"> </p-column>
							<p-column field="namaFakultasHead" header="{{'frmMasterFakultas_tblParent'| translate | splitCharT}}"></p-column>
							<p-column field="namaLengkap" header="{{'frmMasterFakultas_tblPegawaiKepala'| translate | splitCharT}}"></p-column>
							<p-column field="namaFakultas" header="{{'frmMasterFakultas_tblNamaFakultas'| translate | splitCharT}}"></p-column>
							<p-column field="tglBerdiri" header="{{'frmMasterFakultas_tblTanggalBerdiri'| translate | splitCharT}}">
								<ng-template let-pick="rowData" pTemplate type="body">
									<span *ngIf="pick.tglBerdiri > null">{{pick.tglBerdiri * 1000 | date: 'dd/MM/yyyy'}}</span>
								</ng-template>
							</p-column>
							<p-column field="noSKBerdiri" header="{{'frmMasterFakultas_tblNoSKBerdiri'| translate | splitCharT}}"></p-column>
							<p-column field="statusEnabled" header="{{'frmMasterFakultas_tblstatusEnabled'| translate | splitCharT }}">
								<ng-template let-col="rowData" pTemplate type="body">
									{{col.statusEnabled | truefalse | translate | splitCharT }}
								</ng-template> 
							</p-column>
							<ng-template let-detail pTemplate="rowexpansion">
								<div class="ui-grid ui-grid-responsive ui-fluid" style="padding-left:27px">
									<div class="ui-grid ui-grid-responsive ui-grid-pad">
										<div class="ui-grid-col-12">
											<div class="ui-grid ui-grid-responsive ui-grid-pad">
												<div class="ui-grid-row">
													<div class="ui-grid-col-2 label">
														<span style="color:black">{{ 'frmMasterFakultas_optional' | translate | splitCharT }}</span>
													</div>
												</div>
												<hr>
												<div class="ui-grid-row">
													<div class="ui-grid label">{{'frmMasterFakultas_tblReportDisplay'| translate | splitCharT }} </div>
													<div class="ui-grid-col-4"> {{detail.reportDisplay}}</div>
												</div>
												<div class="ui-grid-row">
													<div class="ui-grid label">{{'frmMasterFakultas_tblKodeExternal' | translate | splitCharT}} </div>
													<div class="ui-grid-col-4">{{detail.kodeExternal}}</div>
												</div>
												<div class="ui-grid-row">
													<div class="ui-grid label">{{'frmMasterFakultas_tblnamaExternal'| translate | splitCharT}} </div>
													<div class="ui-grid-col-4">{{detail.namaExternal}}</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</ng-template>
						</p-dataTable>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>