.ui-steps.steps-custom .ui-steps-item {
    width: 33%;
}
.ui-steps.steps-custom .ui-steps-item .ui-steps-number {
    border-radius: 0px !important;
    width: 50px;
    height: 50px;
    padding: 1em 1em !important;
}