td {
    cursor: pointer;
}

.text-info {
    font-size: 8px;
    font-style: oblique;
}

.empty-message {
    width: 100%;
    text-align: center;
    margin: 20px;
    font-size: 20px;
    font-style: oblique;
}