<div class="ui-fluid">
	<div class="ui-g">
		<div class="ui-g-12">
			<div class="card card-w-title">
				<h1>Form Map Objek Modul To Departemen</h1>
				<div class="ui-g form-group">
					<div class="ui-g-12">
						<div class="ui-g-12 ui-md-4">
							<label for="input">Nama Departemen</label>
						</div>
						<div class="ui-g-12 ui-md-8">
							<input id="input" type="text" [(ngModel)]="kodeHariLibur" pInputText/>
						</div>
						<div class="ui-g-12 ui-md-4">
							
						</div>
						<div class="ui-g-12 ui-md-4">
                            <div class="ui-g-12"><p-checkbox name="cg" value="Ultima" label="Cek Semua Objek Modul" [(ngModel)]="checkboxValues"></p-checkbox></div>
                           
                        </div>
						
						
					</div>
				
						
					</div>
			
						
					</div>
					<div class="card card-w-title">
					<h1>Nama-nama Objek Modul</h1>
					<div class="ui-g form-group">
					<div class="ui-g-3">
					<div class="ui-g-12 ui-md-4">
                            <div class="ui-g-12"><p-checkbox name="cg" value="Ultima" label="Farmasi" [(ngModel)]="checkboxValues"></p-checkbox></div>
                           
                    </div>
					<div class="ui-g-12 ui-md-5">
						<p-tree [value]="filesTree"></p-tree>
						</div>
					
					</div>
					</div>
					</div>
					
					<div class="card card-w-title">
					<div class="ui-g form-group">
					
					 <div class="ui-g-12">
					    <div class="ui-g-12 ui-md-6">
						<div class="ui-g-12 ui-md-3">
							<label for="input">Nama Objek Modul</label>
						</div>
						<div class="ui-g-12 ui-md-4">
							<input id="input" type="text" [(ngModel)]="kodeHari" pInputText/>
						</div>
						</div>
						<div class="ui-g-12 ui-md-1">
							<button pButton type="submit" label="Simpan" icon="fa-save"></button>
						</div>
						<div class="ui-g-12 ui-md-1">
							<button pButton type="button" label="Hapus" icon="fa-close"></button>
						</div>
						<div class="ui-g-12 ui-md-1">
							<button pButton type="button" label="Batal" icon="fa-close"></button>
						</div>
						<div class="ui-g-12 ui-md-1">
							<button pButton type="button" label="Tutup" icon="fa-close"></button>
						</div>
						
						
						
					</div>
					</div>
					</div>
					
				</div>
			</div>
		</div>

