<div class="cicing-content activity-feed">
	<div class="overview-chart-top">
		<p-toolbar>
			<div class="ui-toolbar-group-left">
				<span class="overview-box-name">{{'ULANG TAHUN PEGAWAI' | translate | splitCharT | splitCharT }}</span>
			</div>
			<div class="ui-toolbar-group-right" style="margin-right: 55px">
				<input type="text" [(ngModel)]="filterHabisKontrak" (keyup)="paginateUlangTahun(filterHabisKontrak, $event)" class="input-kp"
				placeholder="Cari Pegawai">
			</div>
		</p-toolbar>
	</div>
	<div class="ui-g employee-contact" *ngFor="let item of dataUlangTahunBulanIni">
		<div class="ui-g-4 ui-md-4">
			<img [src]="(item.photoDiri | imgsec) | async" style="width:80px; height: 80px; border-radius: 50%" onerror="this.onerror=null;this.src='assets/layout/images/profile-image.png';"
				/>
		</div>	
		<div class="ui-g-8 ui-md-8">
			<h4>{{item.namaLengkap}}</h4>
			<hr/>
			<p>{{'Ulang tahun' | translate | splitCharT | splitCharT }}: {{item.tglLahir * 1000 | date: 'dd MMM'}}</p>
			<p>{{'Jabatan' | translate | splitCharT | splitCharT }}: {{item.jabatan}}</p>
		</div>
	</div>
	<div class="employee-birthday-empty" *ngIf="dataUlangTahunBulanIni.length == 0">
		<img src="assets/layout/images/profile-image.png" style="width:80px; height: 80px; border-radius: 50%" />
		<hr/>
		<h4>{{'Tidak ada data ulang tahun' | translate | splitCharT | splitCharT }}</h4>
	</div>
	<p-paginator id="paginationUlangTahun" [rows]="10" [totalRecords]="totalRecordsUlangTahun" (onPageChange)="paginateUlangTahun($event)"
	[style]="{'background-color':'transparent'}"></p-paginator>
</div>