<div class="cicing-content ui-g overview-box overview-box-3" id="aset" style="height: 150px">
	<div class="ui-g-12 overview-box-top">
		<p-toolbar>
			<div class="ui-toolbar-group-left">
				<span class="overview-box-name">{{'ASSET RUANGAN' | translate | splitCharT | splitCharT }}</span>
			</div>
		</p-toolbar>
	</div>
	<div class="ui-g-4 overview-box-icon">
		<img src="assets/layout/images/dashboard/ic-jumlah-aset-ruangan.svg" />
	</div>
	<div class="ui-g-8">
		<span class="overview-box-count"><strong>{{totalAset}}</strong></span>
		<span class="overview-box-name"><strong>{{'Jumlah Asset Ruangan' | translate | splitCharT | splitCharT }}</strong></span>
		<!-- <span class="overview-box-rate">+10%</span> -->
	</div>
</div>