
<div class="ui-fluid" >
  <div class="ui-g">
    <div class="ui-g-12">
      <div class="card card-w-title">
        <p-confirmDialog header="Confirmation" icon="fa fa-question-circle" width="425"></p-confirmDialog>
        <h1>{{ 'frmGolonganAsuransi_title' | translate | splitCharT  }}</h1>
        <div class="ui-g form-group">
          <div class="ui-g-12">
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
              <div class="ui-g-6">
                <div class="ui-g-12 ui-md-10" hidden>
                  <span class="ui-float-label" hidden>
                    <input id="input" hidden type="text" formControlName="kode" pInputText disabled />
                    <label for="input" hidden>{{ 'kodeGolonganDarah' | translate | splitCharT  }}</label>
                  </span>
                </div>
                <div class="ui-g-12 ui-md-10">
                  <label for="input">{{ 'frmGolonganAsuransi_nama' | translate | splitCharT  }} <span style="color: red;font-weight: bolder;">*</span>
                                            <span *ngIf="!form.get('namaGolonganAsuransi').valid && form.get('namaGolonganAsuransi').touched" style="color: red"> {{'required'| translate | splitCharT}}</span></label>
                  <input id="input" type="text" formControlName="namaGolonganAsuransi" [(ngModel)]="toReport" (ngModelChange)="valuechange($event)"
                    pInputText />

                  
                </div>
                <div class="ui-g-12 ui-md-10">
                  <label for="input">{{ 'frmGolonganAsuransi_premiBulan' | translate | splitCharT  }}</label>
                  <input id="input" type="text" formControlName="totalPremiBulan" pInputText />
                </div>
                <div class="ui-g-12 ui-md-10">
                  <label for="input">{{ 'frmGolonganAsuransi_premiTahun' | translate | splitCharT  }}</label>
                  <input id="input" type="text" formControlName="totalPremiTahun" pInputText />
                </div>
                <div class="ui-g-12 ui-md-12">
                  <p-checkbox binary="true" label="{{'frmGolonganAsuransi_status'| translate | splitCharT }}" formControlName="statusEnabled"></p-checkbox>
                   <span *ngIf="!form.get('statusEnabled').valid && form.get('statusEnabled').touched" style="color: red">*</span>
                                    <span *ngIf="!form.get('statusEnabled').valid && form.get('statusEnabled').touched" style="color: red">{{'required'| translate | splitCharT}}</span>
                </div>
              </div>

              <div class="ui-g-6">
                <p-fieldset legend="Optional" [toggleable]="true" [collapsed]="true">
                  <form [formGroup]="form" (ngSubmit)="onSubmit()">
                    <div class="ui-g-12 ui-md-10">
                      <label for="input">{{'frmGolonganAsuransi_reportDisplay'| translate | splitCharT }} <span *ngIf="!form.get('reportDisplay').valid && form.get('reportDisplay').touched" style="color: red"></span>
                            <span *ngIf="!form.get('reportDisplay').valid && form.get('reportDisplay').touched" style="color: red">* {{'required'| translate | splitCharT}}</span></label>
                      <input id="input" type="text" formControlName="reportDisplay" [(ngModel)]="report" pInputText/>
                      
                    </div>
                    <div class="ui-g-12 ui-md-10">
                      <label for="input">{{'frmGolonganAsuransi_kodeExternal'| translate | splitCharT }}</label>
                      <input id="input" type="text" formControlName="kodeExternal" pInputText/>
                    </div>
                    <div class="ui-g-12 ui-md-10">
                      <label for="input">{{'frmGolonganAsuransi_namaExternal'| translate | splitCharT }}</label>
                      <input id="input" type="text" formControlName="namaExternal" pInputText/>
                    </div>
                  </form>
                </p-fieldset>
              </div>

              <div class="ui-g-12">
                  <div class="ui-g-12 ui-md-7"></div>
                  <div class="ui-g-12 ui-md-1">
                    <button pButton type="button" label="{{'frmGolonganAsuransi_btnBatal'| translate | splitCharT}}" icon="fa-refresh" (click)="reset()"></button>
                  </div>
                  <div class="ui-g-12 ui-md-1">
                    <button pButton type="submit" label="{{'frmGolonganAsuransi_btnSimpan'| translate | splitCharT}}" icon="fa-save"></button>
                  </div>
                  <div class="ui-g-12 ui-md-1">
                    <button pButton type="button" label="{{'frmGolonganAsuransi_btnHapus'| translate | splitCharT}}" icon="fa-trash" (click)="confirmDelete()"></button>
                  </div>
                  <div class="ui-g-12 ui-md-1">
                    <button pButton type="button" label="{{'frmGolonganAsuransi_btnCetak'| translate | splitCharT}}" icon="fa-print" (click)="cetak()"></button>
                  </div>
                  <div class="ui-g-12 ui-md-1">
                    <p-splitButton label="{{'frmGolonganAsuransi_btnExport'| translate | splitCharT }}" icon="fa-external-link" [model]="items"></p-splitButton>

                  </div>
                </div>
            </form>
          </div>
          <div class="ui-g-12">
            <p-dataTable [value]="listData" [rows]="10" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]" (onRowSelect)="onRowSelect($event)"
              selectionMode="single" [(selection)]="selected" [lazy]="true" [loading]="loading" loadingIcon="fa-spinner" [totalRecords]="totalRecords"
              (onLazyLoad)="loadPage($event)" expandableRows="true">
              <p-header>
                <div class="ui-helper-clearfix">
                  <i class="fa fa-search" style="padding:0.5em 0.5em;float:right"></i>
                  <input type="text" pInputText size="50" placeholder="{{'frmGolonganAsuransi_tablePencarian'| translate | splitCharT}}" [(ngModel)]="pencarian"
                    (keypress)="cari()" style="width: 20%;float:right;">
                  <span style="float: left;padding:0.3em;">{{'frmGolonganAsuransi_tableTitle'| translate | splitCharT}}</span>
                </div>
              </p-header>
              <p-column expander="true" styleClass="col-icon" [style]="{'width':'50px'}"> </p-column>
              <p-column field="namaGolonganAsuransi" header="{{'frmGolonganAsuransi_tableNama'| translate | splitCharT}}"></p-column>
              <p-column field="totalPremiBulan" header="{{'frmGolonganAsuransi_tablePremiBulan'| translate | splitCharT}}"></p-column>
              <p-column field="totalPremiTahun" header="{{'frmGolonganAsuransi_tablePremiTahun'| translate | splitCharT}}"></p-column>
              <p-column field="statusEnabled" header="{{'frmGolonganAsuransi_tableStatus'| translate | splitCharT }}">
                <ng-template let-col="rowData" pTemplate type="body">
                  {{col.statusEnabled | truefalse | translate | splitCharT }}
              </ng-template> 
              </p-column>
              <ng-template let-gol pTemplate="rowexpansion">
                <div class="ui-grid ui-grid-responsive ui-fluid" style="padding-left:27px">
                  <div class="ui-grid ui-grid-responsive ui-grid-pad">
                    <div class="ui-grid-col-12">
                      <div class="ui-grid ui-grid-responsive ui-grid-pad">
                        <div class="ui-grid-row">
                          <div class="ui-grid-col-2 label">
                            <span style="color:black">{{ 'frmGolonganAsuransi_optional' | translate | splitCharT }}</span>
                          </div>
                        </div>
                        <hr>
                        <div class="ui-grid-row">
                          <div class="ui-grid label">{{'frmGolonganAsuransi_tableReportDisplay'| translate | splitCharT }} </div>
                          <div class="ui-grid-col-4"> {{gol.reportDisplay}}</div>
                        </div>
                        <div class="ui-grid-row">
                          <div class="ui-grid label">{{'frmGolonganAsuransi_tableKodeExternal' | translate | splitCharT}} </div>
                          <div class="ui-grid-col-4">{{gol.kodeExternal}}</div>
                        </div>
                        <div class="ui-grid-row">
                          <div class="ui-grid label">{{'frmGolonganAsuransi_tableNamaExternal'| translate | splitCharT}} </div>
                          <div class="ui-grid-col-4">{{gol.namaExternal}}</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>
            </p-dataTable>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>