<div class="ui-fluid">
	<div class="ui-g">
		<div class="ui-g-12">
			<div class="card card-w-title">
				<p-confirmDialog header="Confirmation" icon="fa fa-question-circle" width="425"></p-confirmDialog>
				<form [formGroup]="form" (ngSubmit)="onSubmit()">
					<h1>{{'frmMisi_title'| translate | splitCharT }}</h1>
					<div class="ui-g form-group">
						<div class="ui-g-12">
							<div class="ui-g-6 ui-g-nopad">
								<div class="ui-g-12 ui-md-10" hidden>
									<input hidden type="text" pTooltip="kode" tooltipPosition="top" placeholder="kode"
										formControlName="kode" pInputText readonly="true" />
								</div>
								<div class="ui-g-12 ui-md-10">
									<label for="input">{{'frmMisi_parent'| translate | splitCharT }}</label>
									<p-dropdown class="ui-inputwrapper-filled" filter="filter" [options]="kdMisiHead"
										[autoWidth]="false" formControlName="kdMisiHead"></p-dropdown>
								</div>
								<div class="ui-g-12 ui-md-10">
									<label for="input">{{'frmMisi_visi'| translate | splitCharT }}
										<span style="color: red;font-weight: bolder;">*</span>
										<span *ngIf="!form.get('kdVisi').valid && form.get('kdVisi').touched"
											style="color: red"> {{'required'| translate | splitCharT}}</span>
									</label>
									<p-dropdown class="ui-inputwrapper-filled" filter="filter" [options]="kdVisi"
										[autoWidth]="false" formControlName="kdVisi"></p-dropdown>
								</div>
								<div class="ui-g-12 ui-md-10">
									<label for="input">{{'frmMisi_nama'| translate | splitCharT }}
										<span style="color: red;font-weight: bolder;">*</span>
										<span *ngIf="!form.get('namaMisi').valid && form.get('namaMisi').touched"
											style="color: red"> {{'required'| translate | splitCharT}}</span>
									</label>
									<input id="input" type="text" formControlName="namaMisi"
										(keyup)="setReportDisplay()" maxlength="150" pInputText />
								</div>
								<div class="ui-g-12 ui-md-10">
									<label for="input">{{'frmMisi_noUrut'| translate | splitCharT }}
										<span *ngIf="!noUrutStts" style="color: red;font-weight: bolder;">*</span>
									</label>
									<input type="text" formControlName="noUrut" pInputText />
								</div>
								<div class="ui-g-12 ui-md-10">
									<p-checkbox binary="true" label="{{'frmMisi_status'| translate | splitCharT}}"
										formControlName="statusEnabled"></p-checkbox>
									<span *ngIf="!form.get('statusEnabled').valid && form.get('statusEnabled').touched"
										style="color: red">*</span>
									<span *ngIf="!form.get('statusEnabled').valid && form.get('statusEnabled').touched"
										style="color: red">{{'required'| translate | splitCharT}}</span>
								</div>
							</div>
							<div class="ui-g-6">
								<p-fieldset legend="Optional" [toggleable]="true" [collapsed]="true">
									<form [formGroup]="form" (ngSubmit)="onSubmit()">
										<div class="ui-g-12 ui-md-10">
											<label for="input">{{'frmMisi_reportDisplay'| translate | splitCharT }}
												<span
													*ngIf="!form.get('reportDisplay').valid && form.get('reportDisplay').touched"
													style="color: red">*</span>
												<span
													*ngIf="!form.get('reportDisplay').valid && form.get('reportDisplay').touched"
													style="color: red"> {{'required'| translate | splitCharT}}</span>
											</label>
											<input id="input" type="text" maxlength="150"
												formControlName="reportDisplay" [(ngModel)]="report"
												(keyup)="setReportDisplay()" pInputText />
										</div>
										<div class="ui-g-12 ui-md-10">
											<label for="input">{{'frmMisi_kodeExternal'| translate | splitCharT }}</label>
											<input type="text" maxlength="15" formControlName="kodeExternal"
												pInputText />
										</div>
										<div class="ui-g-12 ui-md-10">
											<label for="input">{{'frmMisi_namaExternal'| translate | splitCharT }}</label>
											<input type="text" maxlength="150" formControlName="namaExternal"
												pInputText />
										</div>
									</form>
								</p-fieldset>
							</div>
						</div>
					</div>
				</form>
				<div class="ui-g-12">
					<div class="ui-g-12 ui-md-7"></div>
					<div class="ui-g-12 ui-md-1">
						<button pButton type="button" label="{{'frmMisi_btnBatal'| translate | splitCharT}}" icon="fa-refresh"
							(click)="reset()"></button>
					</div>
					<div class="ui-g-12 ui-md-1">
						<button pButton type="submit" label="{{'frmMisi_btnSimpan'| translate | splitCharT}}" icon="fa-save"
							(click)="onSubmit()"></button>
					</div>
					<div class="ui-g-12 ui-md-1">
						<button pButton type="button" label="{{'frmMisi_btnHapus'| translate | splitCharT}}" icon="fa-trash"
							(click)="confirmDelete()"></button>
					</div>
					<div class="ui-g-12 ui-md-1">
						<button pButton type="button" label="{{'frmMisi_btnCetak'| translate | splitCharT}}" icon="fa-print"
							(click)="cetak()"></button>
					</div>
					<div class="ui-g-12 ui-md-1">
						<p-splitButton label="{{'frmMisi_btnExport'| translate | splitCharT }}" icon="fa-external-link"
							[model]="items"></p-splitButton>

					</div>
				</div>
				<div class="ui-g-12 ui-fluid">
					<p-dataTable [value]="listData" [rows]="10" [paginator]="true" [pageLinks]="3"
						[rowsPerPageOptions]="[5,10,20]" selectionMode="single" [(selection)]="selected"
						(onRowSelect)="onRowSelect($event)" [lazy]="true" [loading]="Loading" loadingIcon="fa-spinner"
						[totalRecords]="totalRecords" (onLazyLoad)="loadPage($event)" expandableRows="true">
						<p-header>
							<div class="ui-helper-clearfix">
								<i class="fa fa-search" style="padding:0.5em 0.5em;float:right"></i>
								<input type="text" pInputText size="50"
									placeholder="{{'frmMisi_tablePencarian'| translate | splitCharT}}" [(ngModel)]="pencarian"
									(keyup)="cari()" style="width: 20%;float:right;">
								<span style="float: left;padding:0.3em;">{{'frmMisi_tableTitle'| translate | splitCharT}}</span>
							</div>
						</p-header>
						<p-column expander="true" styleClass="col-icon" [style]="{'width':'50px'}"> </p-column>
						<!-- <p-column field="kdMisiHead" header="{{'kdMisiHead'| translate | splitCharT }}"></p-column> -->
						<p-column field="namaMisiHead" header="{{'frmMisi_tableParent'| translate | splitCharT }}"></p-column>
						<p-column field="namaVisi" header="{{'frmMisi_tableVisi'| translate | splitCharT }}"></p-column>
						<p-column field="namaMisi" header="{{'frmMisi_tableNama'| translate | splitCharT }}"></p-column>
						<p-column field="noUrut" header="{{'frmMisi_tableNoUrut'| translate | splitCharT }}"></p-column>
						<!-- <p-column field="kdVisi" header="{{'kdVisi'| translate | splitCharT }}"></p-column> -->
						<!-- <p-column field="kdDepartemen" header="{{'kdDepartemen'| translate | splitCharT }}"></p-column> -->
						<!-- <p-column field="kdExternal" header="{{'kdExternal'| translate | splitCharT }}"></p-column> -->
						<!-- <p-column field="namaExternal" header="{{'namaExternal'| translate | splitCharT }}"></p-column> -->
						<p-column field="statusEnabled" header="{{'frmMisi_tableStatus'| translate | splitCharT }}">
							<ng-template let-col="rowData" pTemplate type="body">
								{{col.statusEnabled | truefalse | translate | splitCharT }}
							</ng-template>
						</p-column>
						<!-- <p-column field="noRec" header="{{'noRec'| translate | splitCharT }}"></p-column> -->
						<ng-template let-misi pTemplate="rowexpansion">
							<div class="ui-grid ui-grid-responsive ui-fluid" style="padding-left:27px">
								<div class="ui-grid ui-grid-responsive ui-grid-pad">
									<div class="ui-grid-col-12">
										<div class="ui-grid ui-grid-responsive ui-grid-pad">
											<div class="ui-grid-row">
												<div class="ui-grid-col-2 label">
													<span style="color:black">{{ 'frmMisi_optional' | translate | splitCharT }}</span>
												</div>
											</div>
											<hr>
											<div class="ui-grid-row">
												<div class="ui-grid label">{{'frmMisi_tableReportDisplay'| translate | splitCharT }}
												</div>
												<div class="ui-grid-col-4"> {{misi.reportDisplay}}</div>
											</div>
											<div class="ui-grid-row">
												<div class="ui-grid label">{{'frmMisi_tableKodeExternal' | translate | splitCharT}}
												</div>
												<div class="ui-grid-col-4">{{misi.kodeExternal}}</div>
											</div>
											<div class="ui-grid-row">
												<div class="ui-grid label">{{'frmMisi_tableNamaExternal'| translate | splitCharT}}
												</div>
												<div class="ui-grid-col-4">{{misi.namaExternal}}</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</ng-template>
					</p-dataTable>
				</div>
			</div>
		</div>
	</div>
</div>