<div class="ui-fluid">
  <div class="ui-g">
    <div class="ui-g-12">
      <div class="card card-w-title">
        <p-confirmDialog header="Confirmation" icon="fa fa-question-circle" width="425"></p-confirmDialog>
        <h1>{{'frmPengajuanRealisasiKpiPegawai_title'| translate | splitCharT}}</h1>
        <div class="ui-g form-group">
        <p-dialog header="{{'frmPengajuanRealisasiKpiPegawai_dataRealisasi'| translate | splitCharT }}" [resizable]="false" responsive="true" showEffect="fade"
        modal="modal" [(visible)]="dialogRealisasi" width="1024" (onHide)="onDialogHide()">
          <div class="ui-g form-group">
            <div class="ui-g-12 ui-md-12">
                <div class="ui-g-12 ui-md-6">

                    <div class="ui-g-12">
                      <div class="ui-g-12 ui-md-5">
                          <label>{{'frmPengajuanRealisasiKpiPegawai_tglPosting'| translate | splitCharT}}</label>
                      </div>
                      <div class="ui-g-12 ui-md-4">
                          <app-calender [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2030" [(ngModel)]="tanggalPosting" [showIcon]="true"
                          dateFormat="dd M yy" (onSelect)="gantiTanggalPosting($event)" [minDate]="minDateP" [maxDate]="maxDateP" [disabled]="statusED"></app-calender>
                      </div>
                    </div>
          
                    <div class="u-g-12">
                        <div class="ui-g-12 ui-md-5">
                          <label>{{'frmPengajuanRealisasiKpiPegawai_metodePerhitunganActual'| translate | splitCharT}}</label>
                        </div>
                        <div class="ui-g-12 ui-md-6">
                          <span>:</span>
                          <label>{{metodePerAcText}}</label>
                        </div>
                    </div>
                    <div class="ui-g-12">
                        <div class="ui-g-12 ui-md-5">
                          <label>{{'frmPengajuanRealisasiKpiPegawai_Perspektif'| translate | splitCharT}}</label>
                        </div>
                        <div class="ui-g-12 ui-md-6">
                          <span>:</span>
                          <label>{{perspektifText}}</label>
                        </div>
                    </div>
                    <div class="ui-g-12">
                        <div class="ui-g-12 ui-md-5">
                          <label>{{'frmPengajuanRealisasiKpiPegawai_Strategi'| translate | splitCharT}}</label>
                        </div>
                        <div class="ui-g-12 ui-md-6">
                          <span>:</span>
                          <label>{{strategiText}}</label>
                        </div>
                    </div>
                    <div class="ui-g-12">
                        <div class="ui-g-12 ui-md-5">
                          <label>{{'frmPengajuanRealisasiKpiPegawai_KPI'| translate | splitCharT}}</label>
                        </div>
                        <div class="ui-g-12 ui-md-6">
                          <span>:</span>
                          <label>{{kpiText}}</label>
                        </div>
                    </div>
                  </div>
          
                  <div class="ui-g-12 ui-md-6">
                    <p-fieldset legend="Periode Input Data Realisasi">
                          <div class="ui-g-12 ui-md-5">
                            <label>{{'frmPengajuanRealisasiKpiPegawai_periodeAwal'| translate | splitCharT}}</label>
                            <app-calender [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2030" [(ngModel)]="tanggalAwal" [showIcon]="true"
                             dateFormat="dd M yy" [disabled]="statusED" [minDate]="minDate" [maxDate]="maxDate" (onSelect)="gantiPilihanAwal($event)"></app-calender>
                          </div>
                          <div class="ui-g-12 ui-md-1" style="text-align:center;">
                            <br>
                            <label>-</label>
                          </div>
                          <div class="ui-g-12 ui-md-5">
                            <label>{{'frmPengajuanRealisasiKpiPegawai_periodeAkhir'| translate | splitCharT}}</label>
                            <app-calender [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2030" [(ngModel)]="tanggalAkhir" [showIcon]="true"
                             dateFormat="dd M yy" [disabled]="statusED" [minDate]="minDate" [maxDate]="maxDate" (onSelect)="gantiPilihanAkhir($event)"></app-calender>
                          </div>
          
                          <div class="ui-g-12">
                              <div class="ui-g-3" style="padding: 0px">
                                  <p-radioButton value="InputDetail" [(ngModel)]="type" [ngModelOptions]="{standalone: true}" label="{{'frmPengajuanRealisasiKpiPegawai_InputDetail'| translate | splitCharT}}" (ngModelChange)="getTypePilih($event)" ></p-radioButton>
                              </div>
                              <!-- <div class="ui-g-1"></div> -->
                              <div class="ui-g-3" style="padding: 0px">
                                  <p-radioButton value="InputTotal" [(ngModel)]="type" [ngModelOptions]="{standalone: true}" label="{{'frmPengajuanRealisasiKpiPegawai_InputTotal'| translate | splitCharT}}" (ngModelChange)="getTypePilih($event)" ></p-radioButton>
                              </div>
                          </div>
          
                          <div class="ui-g-12">
                            <div class="ui-g-12 ui-md-9"></div>
                            <div class="ui-g-12 ui-md-3">
                                <button pButton type="button" label="Tampil" (click)="tampil()"></button>
                            </div>
                          </div>
          
          
                    </p-fieldset>
                  </div>
          
                      <div class="ui-g-12 ui-md-12">
                        <p-dataTable [value]="listDataPeriode" [editable]="true" [rows]="5" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]">
                            <p-header>
                                <label style="float:center;">Input Data Realisasi</label> 
                                <!-- <div class="ui-helper-clearfix">
                                  <button pButton [disabled]="dTambah" type="button" icon="fa-plus" (click)="tambahInput()" style="float:left;"></button>
                                </div> -->
                            </p-header>
                          <p-column *ngFor="let col of listBulan" [hidden]="hilangB" [header]="col.namaB" [field]="col.namaB">
                              <!-- <ng-template let-colo let-data="rowData" pTemplate="body">
                                  {{data[colo.field]}}
                              </ng-template> -->
                              <ng-template let-colo let-data="rowData" let-ri="rowIndex" pTemplate="body">
                                  <p-spinner [ngModelOptions]="{standalone: true}" id="input" [min]="0" type="text" [(ngModel)]="data[colo.field]" [disabled]="dColumnB"></p-spinner>
                                  <!-- <input type="text" [disabled]="dColumnB" pInputText [(ngModel)]="data[colo.field]" [ngModelOptions]="{standalone: true}" appendTo="body" (ngModelChange)="tampungTotal(data[colo.field],ri)" /> -->
                              </ng-template>
                          </p-column>
                          <p-column header="Total" field="totalR" [hidden]="hilangR" >
                              <!-- <ng-template let-colo let-data="rowData" pTemplate="body">
                                  {{data[colo.field]}}
                              </ng-template> -->
                              <ng-template let-colo let-data="rowData" pTemplate="body">
                                  <p-spinner [ngModelOptions]="{standalone: true}" id="input" [min]="0" type="text" [(ngModel)]="data[colo.field]" [disabled]="dColumnT" ></p-spinner>
                                  <!-- <input type="text" [disabled]="dColumnT" pInputText [(ngModel)]="data[colo.field]" [ngModelOptions]="{standalone: true}" appendTo="body" /> -->
                              </ng-template>
                          </p-column>
                          <!-- <p-column styleClass="col-button" [style]="{'width':'50px'}" [hidden]="hilangR">
                              <ng-template pTemplate="header"></ng-template>
                              <ng-template pTemplate type="body" let-colo let-kpi="rowData" let-ri="rowIndex">
                                <button type="button" pButton (click)="hapusKpiRealisasi(ri)" icon="fa-trash"></button>
                              </ng-template>
                          </p-column> -->
                        </p-dataTable>
                          <!-- <p-dataTable [value]="listDataPeriode" [rows]="10" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]"
                          scrollable="true">
                          <p-column field="namaPerspectiveD" header="{{'frmPengajuanRealisasiKpiPegawai_perspektif'| translate | splitCharT}}" [style]="{'width':'150px'}"></p-column>
                          <p-column field="namaStrategyD" header="{{'frmPengajuanRealisasiKpiPegawai_strategi'| translate | splitCharT}}" [style]="{'width':'150px'}"></p-column>
                          <p-column field="namaKPI" header="{{'frmPengajuanRealisasiKpiPegawai_kpi'| translate | splitCharT}}" [style]="{'width':'150px'}"></p-column>
                          <p-column field="bobotKPI" header="{{'frmPengajuanRealisasiKpiPegawai_bobot'| translate | splitCharT}}" [style]="{'width':'150px'}"></p-column>
                          <p-column field="namaSatuanHasil" header="{{'frmPengajuanRealisasiKpiPegawai_satuanHasil'| translate | splitCharT}}" [style]="{'width':'150px'}"></p-column>
                          <p-column field="namaTypeDataObjek" header="{{'frmPengajuanRealisasiKpiPegawai_tipeDataObjek'| translate | splitCharT}}" [style]="{'width':'150px'}"></p-column>
                          <p-column field="targetKPI" header="{{'frmPengajuanRealisasiKpiPegawai_target'| translate | splitCharT}}" [style]="{'width':'150px'}"></p-column>
                          <p-column field="asalData" header="{{'frmPengajuanRealisasiKpiPegawai_sumberData'| translate | splitCharT}}" [style]="{'width':'150px'}"></p-column>
                          <p-column field="periodeData" header="{{'frmPengajuanRealisasiKpiPegawai_periodeData'| translate | splitCharT}}" [style]="{'width':'150px'}"></p-column>
                          <p-column field="namaMetodeHitung" header="{{'frmPengajuanRealisasiKpiPegawai_metodePerhitungan'| translate | splitCharT}}" [style]="{'width':'150px'}"></p-column>
                        </p-dataTable> -->
                      </div>
                      <div class="ui-g-12">
                          <div class="ui-g-12 ui-md-10"></div>
                          <div class="ui-g-12 ui-md-1">
                            <button pButton type="button" label="{{'batal'| translate | splitCharT}}" icon="fa-refresh" (click)="reset()"></button>
                          </div>
                          <div class="ui-g-12 ui-md-1">
                            <button pButton type="button" label="{{'simpan'| translate | splitCharT}}" icon="fa-save" (click)="simpan()"></button>
                          </div>
                      </div>
            </div>
          </div>
        </p-dialog>

          <div class="ui-g-12 ui-md-3">
            <div>
							<label>{{'frmPengajuanRealisasiKpiPegawai_periode'| translate | splitCharT}}</label>
							<p-dropdown id="dropdown" filter="filter" class="ui-inputwrapper-filled" [options]="listPeriodeHead" [autoWidth]="false"
               (onChange)="getKode($event)" [(ngModel)]="kodeHeadPeriode"></p-dropdown>
            </div>
            <div>
               <p-dataTable [value]="listPeriode" [rows]="5" [paginator]="true" [rowsPerPageOptions]="[5,10,20]" selectionMode="single"
               [(selection)]="selectedPeriode" scrollable="true" (onRowSelect)="pilihPeriode($event)">
                <p-column field="nomorUrut" header="{{'frmPengajuanRealisasiKpiPegawai_no'| translate | splitCharT}}" [style]="{'width':'50px','text-align': 'center'}">
                  <ng-template pTemplate="body" let-i="rowIndex">
                    {{i+1}}
                  </ng-template>
                </p-column>
                <p-column field="namaPeriode" header="{{'frmPengajuanRealisasiKpiPegawai_namaPeriode'| translate | splitCharT}}" [style]="{'width':'200px'}"></p-column>
              </p-dataTable>
            </div>
          </div>

          <div class="ui-g-12 ui-md-12">
              
            <p-dataTable [value]="listDataRealisasi" [rows]="10" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]" [(selection)]="selectedDataBsc"
            scrollable="true" (onRowSelect)="pilihDataRealisasi($event)" selectionMode="single">
            <p-column field="nomorUrut" header="{{'frmPengajuanRealisasiKpiPegawai_no'| translate | splitCharT}}" [style]="{'width':'50px','text-align': 'center'}">
              <ng-template pTemplate="body" let-i="rowIndex">
                {{i+1}}
              </ng-template>
            </p-column>
            <p-column field="namaPerspectiveD" header="{{'frmPengajuanRealisasiKpiPegawai_perspektif'| translate | splitCharT}}" [style]="{'width':'150px'}"></p-column>
            <p-column field="namaStrategyD" header="{{'frmPengajuanRealisasiKpiPegawai_strategi'| translate | splitCharT}}" [style]="{'width':'150px'}"></p-column>
            <p-column field="namaKPI" header="{{'frmPengajuanRealisasiKpiPegawai_kpi'| translate | splitCharT}}" [style]="{'width':'150px'}"></p-column>
            <p-column field="bobotKPI" header="{{'frmPengajuanRealisasiKpiPegawai_bobot'| translate | splitCharT}}" [style]="{'width':'150px'}"></p-column>
            <p-column field="namaSatuanHasil" header="{{'frmPengajuanRealisasiKpiPegawai_satuanHasil'| translate | splitCharT}}" [style]="{'width':'150px'}"></p-column>
            <p-column field="namaTypeDataObjek" header="{{'frmPengajuanRealisasiKpiPegawai_tipeDataObjek'| translate | splitCharT}}" [style]="{'width':'150px'}"></p-column>
            <p-column field="targetKPI" header="{{'frmPengajuanRealisasiKpiPegawai_target'| translate | splitCharT}}" [style]="{'width':'150px'}"></p-column>
            <p-column field="asalData" header="{{'frmPengajuanRealisasiKpiPegawai_sumberData'| translate | splitCharT}}" [style]="{'width':'150px'}"></p-column>
            <p-column field="periodeData" header="{{'frmPengajuanRealisasiKpiPegawai_periodeData'| translate | splitCharT}}" [style]="{'width':'150px'}"></p-column>
            <p-column field="namaMetodeHitung" header="{{'frmPengajuanRealisasiKpiPegawai_metodePerhitungan'| translate | splitCharT}}" [style]="{'width':'150px'}"></p-column>
          </p-dataTable>

        </div>

        



        </div>
      </div>
    </div>
  </div>
</div>