<style type="text/css">
.clear {
  display: table;
  content: '';
  clear: both;
}

.lock-grid {
  position: absolute;
  top: 25%;
  left: 45%
}
</style>
<div class="ui-fluid">
    <div class="ui-g">
        <div class="ui-g-12">
            <div class="card card-w-title">
                <p-confirmDialog header="Confirmation" icon="fa fa-question-circle" width="425"></p-confirmDialog>
                <h1>{{ 'frmHargaNettoDiscPasienPulang_title' | translate | splitCharT  }}</h1>
                      <div class="ui-g-12">
                    <form [formGroup]="form" (ngSubmit)="onSubmit()">
                    <p-fieldset legend="">
                        <div class="ui-g form-group">
                            <div class="ui-g-12 ui-md-4" style="margin-top: 8px;">
                                <div class="ui-g-12 ui-md-9">
                                    <label>{{'frmHargaNettoDiscPasienPulang_nama'| translate | splitCharT}}
                                        <span style="color: red;font-weight: bolder;">*</span>
                                        <span *ngIf="!form.get('namaSuratKeputusan').valid && form.get('namaSuratKeputusan').touched" style="color: red;font-weight: bolder;">
                                            {{'frmHargaNettoDiscPasienPulang_required'| translate | splitCharT}}</span>
                                    </label>
                                    <p-dropdown formControlName="namaSuratKeputusan" (onChange)="ambilSK($event)" class="ui-inputwrapper-filled" [options]="namaSK" [autoWidth]="false" [filter]="true" filterBy="label"></p-dropdown>
                                </div>
                                <div class="ui-g-12 ui-md-3">
                                    <br>
                                    <button pButton (click)="getKelompokTransaksi()" type="button" label="{{'frmHargaNettoDiscPasienPulang_buatSk'| translate | splitCharT }}"></button>
                                </div>
                                <div class="ui-g-12 ui-md-7" hidden="true">
                                    <label>{{'frmHargaNettoDiscPasienPulang_nomorSK'| translate | splitCharT}}
                                    </label>
                                    <input id="input" type="text" pInputText formControlName="noSK" disabled />
                                </div>
                                <div class="ui-g-12 ui-md-12">
                                    <label>{{'frmHargaNettoDiscPasienPulang_nomorIntern'| translate | splitCharT}}
                                    </label>
                                    <input id="input" type="text" pInputText formControlName="noSkIntern" disabled />
                                </div>
                            </div>
                            <div class="ui-g-12 ui-md-1"></div>
                            <div class="ui-g-12 ui-md-6" style="margin-top: 4px; margin-left: -80px;">
                                <div class="ui-g form-group">
                                    <div class="ui-g-12 ui-md-12">
                                        <label>{{'frmHargaNettoDiscPasienPulang_tanggalBerlakuSk'| translate | splitCharT}}
                                        </label>
                                    </div>
                                    <div class="ui-g-12 ui-md-4">
                                        <app-calender dateFormat="dd M yy" formControlName="tglBerlakuAwal" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2030" [showIcon]="true"></app-calender>
                                    </div>
                                    <div>
                                        <label>-</label>
                                    </div>
                                    <div class="ui-g-12 ui-md-4">
                                        <app-calender dateFormat="dd M yy" formControlName="tglBerlakuAkhir" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2030" [showIcon]="true"></app-calender>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </p-fieldset>
            
        
                        <div class="ui-g form-group">
                            <div class="ui-g-4">
                                 <div class="ui-g-12 ui-md-10">
                                    <label>{{'frmHargaNettoDiscPasienPulang_kdProduk'| translate | splitCharT }}
                                        <span style="color: red;font-weight: bolder;">*</span>
                                        <span *ngIf="!form.get('kdProduk').valid && form.get('kdProduk').touched" style="color: red">{{'frmHargaNettoDiscPasienPulang_required'| translate | splitCharT}}</span>
                                    </label>
                                    <p-dropdown filter="filter" class="ui-inputwrapper-filled" placeholder="{{'frmHargaNettoDiscPasienPulang_required'| translate | splitCharT}}" formControlName="kdProduk" [options]="dropdownproduk" [autoWidth]="false"></p-dropdown>
                                </div>

                                 <div class="ui-g-12 ui-md-10">
                                        <label>{{'frmHargaNettoDiscPasienPulang_persenDiscount'| translate | splitCharT }}
                                            <span style="color: red;font-weight: bolder;">*</span>
                                            <span *ngIf="!form.get('persenDiscount').valid && form.get('persenDiscount').touched" style="color: red">{{'frmHargaNettoDiscPasienPulang_required'| translate | splitCharT}}</span>
                                        </label>
                                        <input id="input" type="number" formControlName="persenDiscount" [(ngModel)]="persenDiscount" pInputText />
                                    </div>
                                </div>
                            
                            <div class="ui-g-4">

                                <div class="ui-g-12 ui-md-10">
                                    <label>{{'frmHargaNettoDiscPasienPulang_kdKomponenHarga'| translate | splitCharT }}
                                        <span style="color: red;font-weight: bolder;">*</span>
                                        <span *ngIf="!form.get('kdKomponenHarga').valid && form.get('kdKomponenHarga').touched" style="color: red">{{'frmHargaNettoDiscPasienPulang_required'| translate | splitCharT}}</span>
                                    </label>
                                    <p-dropdown filter="filter" class="ui-inputwrapper-filled" placeholder="{{'frmHargaNettoDiscPasienPulang_pilih'| translate | splitCharT }}" formControlName="kdKomponenHarga" [options]="dropdownkomponenHarga" [autoWidth]="false"></p-dropdown>
                                </div>
                                    <div class="ui-g-12 ui-md-10">
                                    <label>{{'frmHargaNettoDiscPasienPulang_hargaDiscount'| translate | splitCharT }}
                                    </label>
                                    <input id="input" type="number" formControlName="hargaDiscount" [(ngModel)]="hargaDiscount" pInputText />
                                </div>
                            </div>
                            <div class="ui-g-4">
                               

                                <div class="ui-g-12 ui-md-10">
                                    <label>{{'frmHargaNettoDiscPasienPulang_kdRange'| translate | splitCharT }}
                                        <span style="color: red;font-weight: bolder;">*</span>
                                        <span *ngIf="!form.get('kdRange').valid && form.get('kdRange').touched" style="color: red">{{'frmHargaNettoDiscPasienPulang_required'| translate | splitCharT}}</span>
                                    </label>
                                    <p-dropdown filter="filter" class="ui-inputwrapper-filled" placeholder="{{'frmHargaNettoDiscPasienPulang_pilih'| translate | splitCharT }}" formControlName="kdRange" [options]="dropdownrange" [autoWidth]="false"></p-dropdown>
                                </div> 
                               
                                <div class="ui-g-12 ui-md-12">
                                    <p-checkbox binary="true" label="{{'frmHargaNettoDiscPasienPulang_status'| translate | splitCharT }}" formControlName="statusEnabled"></p-checkbox>
                                    <span *ngIf="!form.get('statusEnabled').valid && form.get('statusEnabled').touched" style="color: red"> *</span>
                                    <span *ngIf="!form.get('statusEnabled').valid && form.get('statusEnabled').touched" style="color: red"> {{'frmHargaNettoDiscPasienPulang_required'| translate | splitCharT}}</span>
                                </div>
                            </div>

                            <div class="ui-g-12">
                                <div class="ui-g-12 ui-md-7"></div>
                                <div class="ui-g-12 ui-md-1">
                                    <button pButton type="button" label="{{'frmHargaNettoDiscPasienPulang_btnBatal'| translate | splitCharT}}" icon="fa-refresh" (click)="reset()"></button>
                                </div>
                                <div class="ui-g-12 ui-md-1">
                                    <button pButton type="submit" label="{{'frmHargaNettoDiscPasienPulang_btnSimpan'| translate | splitCharT}}" icon="fa-save"></button>
                                </div>
                                <div class="ui-g-12 ui-md-1">
                                    <button pButton type="button" label="{{'frmHargaNettoDiscPasienPulang_btnHapus'| translate | splitCharT}}" icon="fa-trash" (click)="confirmDelete()"></button>
                                </div>
                                <div class="ui-g-12 ui-md-1">
                                    <button pButton type="button" label="{{'frmHargaNettoDiscPasienPulang_btnCetak'| translate | splitCharT}}" icon="fa-print" (click)="cetak()"></button>
                                </div>
                                <div class="ui-g-12 ui-md-1">
                                    <p-splitButton label="{{'frmHargaNettoDiscPasienPulang_btnExport'| translate | splitCharT }}" icon="fa-external-link" [model]="items"></p-splitButton>

                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="ui-g-12">
                    <p-dataTable [value]="listData" [rows]="10" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]" selectionMode="single" [(selection)]="selected" (onRowSelect)="onRowSelect($event)" [lazy]="true" [loading]="loading" loadingIcon="fa-spinner" [totalRecords]="totalRecords" (onLazyLoad)="loadPage($event)" expandableRows="true">

                        <p-header>
                            <div class="ui-helper-clearfix">
                                <i class="fa fa-search" style="padding:0.5em 0.5em;float:right"></i>
                                <input type="text" pInputText size="50" placeholder="{{'frmHargaNettoDiscPasienPulang_DaftarnamaHargaNettoDiscPasienPulangPencarian'| translate | splitCharT}}" [(ngModel)]="pencarian" (keyup)="cari()" style="width: 20%;float:right;">
                                <span style="float: left;padding:0.3em;">{{'frmHargaNettoDiscPasienPulang_DaftarHargaNettoDiscPasienPulangTitle'| translate | splitCharT }}</span>
                            </div>
                        </p-header>
                        <p-column expander="true" styleClass="col-icon" [style]="{'width':'50px'}"> </p-column>
                        <p-column field="namaSK" header="{{'frmHargaNettoDiscPasienPulang_tablePegawaiSkReimburse_nama'| translate | splitCharT}}"></p-column>
                        <p-column field="namaProduk" header="{{'frmHargaNettoDiscPasienPulang_tableKdProduk'| translate | splitCharT}}"></p-column>
                        <p-column field="namaKomponenHarga" header="{{'frmHargaNettoDiscPasienPulang_tableKdKomponenHarga'| translate | splitCharT}}"></p-column>
                        <p-column field="namaRange" header="{{'frmHargaNettoDiscPasienPulang_tableKdRange'| translate | splitCharT}}"></p-column>
                        <p-column field="persenDiscount" header="{{'frmHargaNettoDiscPasienPulang_tablePersenDiscount'| translate | splitCharT}}"></p-column>
                        <p-column field="hargaDiscount" header="{{'frmHargaNettoDiscPasienPulang_tableHargaDiscount'| translate | splitCharT}}"></p-column>
                        <p-column field="statusEnabled" header="{{'frmHargaNettoDiscPasienPulang_tableStatus'| translate | splitCharT }}">
                            <ng-template let-col="rowData" pTemplate type="body">
                                {{col.statusEnabled | truefalse | translate | splitCharT }}
                            </ng-template>
                        </p-column>
                        <ng-template let-hargaNettoDiscPasienPulang pTemplate="rowexpansion">
                            <div class="ui-grid ui-grid-responsive ui-fluid" style="padding-left:27px">
                                <div class="ui-grid ui-grid-responsive ui-grid-pad">
                                    <div class="ui-grid-col-12">
                                        <div class="ui-grid ui-grid-responsive ui-grid-pad">
                                            <div class="ui-grid-row">
                                                <div class="ui-grid-col-2 label">
                                                    <span style="color:black">{{ 'frmHargaNettoDiscPasienPulang_optional' | translate | splitCharT }}</span>
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="ui-grid-row">
                                                <div class="ui-grid label">{{'frmHargaNettoDiscPasienPulang_tableReportDisplay'| translate | splitCharT }} </div>
                                                <div class="ui-grid-col-4"> {{hargaNettoDiscPasienPulang.reportDisplay}}</div>
                                            </div>
                                            <div class="ui-grid-row">
                                                <div class="ui-grid label">{{'frmHargaNettoDiscPasienPulang_tableKodeExternal' | translate | splitCharT}} </div>
                                                <div class="ui-grid-col-4">{{hargaNettoDiscPasienPulang.kodeExternal}}</div>
                                            </div>
                                            <div class="ui-grid-row">
                                                <div class="ui-grid label">{{'frmHargaNettoDiscPasienPulang_tableNamaExternal'| translate | splitCharT}} </div>
                                                <div class="ui-grid-col-4">{{hargaNettoDiscPasienPulang.namaExternal}}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </p-dataTable>
                </div>
            </div>
        </div>
    </div>
</div>