<div class="ui-fluid">
	<div class="ui-g">
		<div class="ui-g-12">
			<div class="card card-w-title">
				<p-confirmDialog header="Confirmation" icon="fa fa-question-circle" width="425"></p-confirmDialog>
				<form [formGroup]="form">
					<div style="float: right" class="ui-g-12 ui-md-1">
						<button pButton type="button" label="{{'frmMonitoringubs_Reset'| translate | splitCharT}}"
							icon="fa-refresh" (click)="reset()"></button>
					</div>
					<div style="float: right" class="ui-g-12 ui-md-1">
						<button pButton type="button" label="{{'frmMonitoringubs_Cari'| translate | splitCharT}}"
							icon="fa-search" (click)="getDataGrid(1, 10, '')"></button>
					</div>
					<div style="width:15%;float:right;margin: 3px;margin-right: 4px;margin-top: 7px;font-size: 12px">
						<app-calender [monthNavigator]="true" showTime="showTime" hourFormat="24" [yearNavigator]="true"
							yearRange="2000:2030" formControlName="tglAkhir" [showIcon]="true" dateFormat="dd M yy">
						</app-calender>
					</div>
					<div style="width:15%;float:right;margin: 3px;margin-right: 4px;margin-top: 7px;font-size: 12px">
						<app-calender [monthNavigator]="true" showTime="showTime" hourFormat="24" [yearNavigator]="true"
							yearRange="2000:2030" formControlName="tglAwal" [showIcon]="true" dateFormat="dd M yy">
						</app-calender>
					</div>
					<div style="width:30%;float:right;margin: 3px;margin-right: 4px;margin-top: 7px;font-size: 12px">
						<i class="fa fa-search" style="padding:0.5em 0.5em;float:right"></i>
						<input type="text" pInputText size="50"
							placeholder="{{'frmMonitoringubs_pencarian'| translate | splitCharT}}"
							[(ngModel)]="pencarian" [ngModelOptions]="{standalone: true}"
							(keyup)="getDataGrid(1, 10, '')" style="width: 60%;float:right;">
					</div>
					<div style="width:20%;float:left;margin: 3px;margin-right: 4px;margin-top: 7px;font-size: 12px">
						<strong><span
								style="float: left;padding:0.3em;">{{'frmMonitoringUserBaru_tableTitle'| translate | splitCharT}}</span></strong>
					</div>
				</form>
				<div class="ui-g-12 ui-fluid">
					<p-dataTable [value]="listData" [rows]="10" [paginator]="true" [pageLinks]="3"
						[rowsPerPageOptions]="[5,10,20]" rowExpandMode="single"
						(onRowExpand)="expandRow($event, rowIndex)" (onRowSelect)="onRowSelect($event)" [lazy]="true"
						[loading]="loading" loadingIcon="fa-spinner" [totalRecords]="totalRecords"
						(onLazyLoad)="loadPage($event)" expandableRows="true">
						<p-header>
						</p-header>
						<p-column (click)="getIndexRow(index)" expander="true" styleClass="col-icon"
							[style]="{'width':'30px'}">
							<ng-template let-i="rowIndex">
								<button (click)="getIndexRow(i)"></button>
							</ng-template>
						</p-column>
						<p-column [style]="{'width':'30px'}"
							header="{{'frmMonitoringUserBaru_No'| translate | splitCharT }}">
							<ng-template pTemplate="body" let-i="rowIndex">
								{{i+1}}
							</ng-template>
						</p-column>
						<p-column field="tglDaftar"
							header="{{'frmMonitoringUserBaru_tglDaftar'| translate | splitCharT }}">
							<ng-template let-row="rowData" pTemplate="body">
								{{row.tglDaftar | date:'dd/MM/yyyy HH:mm'}}
							</ng-template>
						</p-column>
						<p-column [style]="{'width':'50px'}" field="foto"
							header="{{'frmMonitoringUserBaru_Foto'| translate | splitCharT }}">
							<ng-template let-pick="rowData" pTemplate type="body">
								<img style="border-radius: 50%; height: 40px;
								max-height: 40px;
								width: 30px;" [src]="(pick.foto | imgsec) | async" class="img-responsive" />
							</ng-template>
						</p-column>
						<p-column field="namaLengkap"
							header="{{'frmMonitoringUserBaru_NamaLengkap'| translate | splitCharT }}">
						</p-column>
						<p-column [style]="{'text-align':'center', 'width':'50px'}" field="jenisKelamin.jenisKelamin"
							header="{{'frmMonitoringUserBaru_JK'| translate | splitCharT }}">
							<ng-template let-row="rowData" pTemplate="body">
								<span *ngIf="row.jenisKelamin.jenisKelamin == 'Perempuan'">
									P
								</span>
								<span *ngIf="row.jenisKelamin.jenisKelamin == 'Laki Laki'">
									L
								</span>
								<!-- {{row.jenisKelamin.jenisKelamin}} -->
							</ng-template>
						</p-column>
						<p-column field="tglLahir"
							header="{{'frmMonitoringUserBaru_tglLahir'| translate | splitCharT }}">
							<ng-template let-row="rowData" pTemplate="body">
								{{row.tglLahir | date:'dd/MM/yyyy'}}
							</ng-template>
						</p-column>
						<p-column field="jenisIdentitas.jenisDokumen"
							header="{{'frmMonitoringUserBaru_jenisIdentitas'| translate | splitCharT }}"></p-column>
						<p-column field="noIdentitas"
							header="{{'frmMonitoringUserBaru_noIdentitas'| translate | splitCharT }}">
						</p-column>
						<p-column field="negara.namaNegara"
							header="{{'frmMonitoringUserBaru_negara'| translate | splitCharT }}">
						</p-column>
						<p-column field="noTelepon"
							header="{{'frmMonitoringUserBaru_noTelp'| translate | splitCharT }}">
						</p-column>
						<p-column [style]="{'width':'200px'}" field="email"
							header="{{'frmMonitoringUserBaru_email'| translate | splitCharT }}">
						</p-column>
						<p-column [style]="{'width':'100px'}" field="jenisAlamat.jenisAlamat"
							header="{{'frmMonitoringUserBaru_jenisAlamat'| translate | splitCharT }}">
						</p-column>
						<p-column [style]="{'width':'200px'}" field="alamatLengkap"
							header="{{'frmMonitoringUserBaru_alamatLengkap'| translate | splitCharT }}">
						</p-column>
						<ng-template let-data pTemplate="rowexpansion" let-ri="rowIndex">
							<p-dataTable [style]="{'word-wrap':'break-word','margin-bottom':'30px'}"
								(onLazyLoad)="loadPageLayanan($event)" [value]="listLayanan"
								[totalRecords]="totalRecordsLayanan" [rows]="5" [paginator]="true" [pageLinks]="3"
								[lazy]="true" [loading]="loading" loadingIcon="fa-spinner">
								<p-column field="modulAplikasi"
									header="{{'frmMonitoringUserBaru_ModulAplikasi'| translate | splitCharT }}">
								</p-column>
								<p-column field="jenisProfile"
									header="{{'frmMonitoringUserBaru_jnsProfile'| translate | splitCharT }}">
								</p-column>
								<p-column field="profile"
									header="{{'frmMonitoringUserBaru_namaProfile'| translate | splitCharT }}">
								</p-column>
								<p-column field="namaDomain"
									header="{{'frmMonitoringUserBaru_namaDomain'| translate | splitCharT }}">
								</p-column>
								<p-column field="version"
									header="{{'frmMonitoringUserBaru_versi'| translate | splitCharT }}">
								</p-column>
								<p-column field="edisi"
									header="{{'frmMonitoringUserBaru_edisi'| translate | splitCharT }}">
								</p-column>
								<p-column field="paket"
									header="{{'frmMonitoringUserBaru_paket'| translate | splitCharT }}">
								</p-column>
								<p-column field="tglPesan"
									header="{{'frmMonitoringUserBaru_tglPesan'| translate | splitCharT }}">
									<ng-template let-row="rowData" pTemplate="body">
										{{row.tglPesan | date:'dd/MM/yyyy HH:mm'}}
									</ng-template>
								</p-column>
								<p-column field="statusPembayaran"
									header="{{'frmMonitoringUserBaru_sttsBayar'| translate | splitCharT }}">
								</p-column>
								<p-column field="tglKadaluarsa"
									header="{{'frmMonitoringUserBaru_tglKadaluarsa'| translate | splitCharT }}">
									<ng-template let-row="rowData" pTemplate="body">
										{{row.tglKadaluarsa | date:'dd/MM/yyyy HH:mm'}}
									</ng-template>
								</p-column>
								<p-column field="statusAktif"
									header="{{'frmMonitoringUserBaru_aktif'| translate | splitCharT }}">
								</p-column>
								<p-column field="statusAktif" header="{{'frmMonitoringUserBaru_aksi'| translate | splitCharT }}">
									<ng-template let-h="rowData" pTemplate="body">
										<button style="height: 25px; width: 25px;" pTooltip="Start"
											tooltipPosition="top" class="ui-button-success" type="button" pButton
											(click)="startLayanan()" icon="fa-play"></button>
										<button [disabled]="!rowData" style="height: 25px; width: 25px;" pTooltip="Stop" tooltipPosition="top"
											class="ui-button-danger" type="button" pButton (click)="stopLayanan(h)"
											icon="fa-minus"></button>
										<button style="height: 25px; width: 25px;" pTooltip="Preview Menu"
											tooltipPosition="top" class="ui-button-primary" type="button" pButton
											(click)="previewLayanan(h)" icon="fa-reorder"></button>
									</ng-template>
								</p-column>
							</p-dataTable>
						</ng-template>
					</p-dataTable>
					<div style="float: right" class="ui-g-12 ui-md-1">
						<br>
						<p-splitButton label="{{'frm_btnExport'| translate | splitCharT}}" icon="fa-external-link"
							[model]="items"></p-splitButton>
					</div>
					<div style="float: right" class="ui-g-12 ui-md-1">
						<br>
						<button pButton type="button" label="{{'frmCustomerCare_Cetak'| translate | splitCharT}}"
							icon="fa-print" (click)="cetak()"></button>
					</div>
					<!-- <div style="float: right" class="ui-g-12 ui-md-2">
						<br>
						<button pButton type="button" label="{{'frmCustomerCare_Config'| translate | splitCharT}}"
							icon="fa-cog"></button>
					</div> -->
				</div>
				<div id="print-section" style="display: none;">
					<div class="ui-g-12">
						<h2>{{'frmMonitoringUserBaru_tableTitle'| translate | splitCharT}}</h2>
					</div>
					<div class="ui-g-12">
						<p-dataTable [value]="listData">
							<p-column [style]="{'width':'30px'}"
								header="{{'frmCustomerCare_No'| translate | splitCharT }}">
								<ng-template pTemplate="body" let-i="rowIndex">
									{{i+1}}
								</ng-template>
							</p-column>
							<p-column field="tglDaftar"
								header="{{'frmMonitoringUserBaru_tglDaftar'| translate | splitCharT }}">
								<ng-template let-row="rowData" pTemplate="body">
									{{row.tglDaftar | date:'dd/MM/yyyy HH:mm'}}
								</ng-template>
							</p-column>
							<p-column [style]="{'width':'50px'}" field="foto"
								header="{{'frmMonitoringUserBaru_Foto'| translate | splitCharT }}">
								<ng-template let-pick="rowData" pTemplate type="body">
									<img style="border-radius: 50%; height: 40px;
								max-height: 40px;
								width: 30px;" [src]="(pick.foto | imgsec) | async" class="img-responsive" />
								</ng-template>
							</p-column>
							<p-column field="namaLengkap"
								header="{{'frmMonitoringUserBaru_NamaLengkap'| translate | splitCharT }}">
							</p-column>
							<p-column field="jenisKelamin.jenisKelamin"
								header="{{'frmMonitoringUserBaru_JK'| translate | splitCharT }}">
								<ng-template let-row="rowData" pTemplate="body">
									<span *ngIf="row.jenisKelamin.jenisKelamin == 'Perempuan'">
										P
									</span>
									<span *ngIf="row.jenisKelamin.jenisKelamin == 'Laki Laki'">
										L
									</span>
									<!-- {{row.jenisKelamin.jenisKelamin}} -->
								</ng-template>
							</p-column>
							<p-column field="tglLahir"
								header="{{'frmMonitoringUserBaru_tglLahir'| translate | splitCharT }}">
								<ng-template let-row="rowData" pTemplate="body">
									{{row.tglLahir | date:'dd/MM/yyyy HH:mm'}}
								</ng-template>
							</p-column>
							<p-column field="jenisIdentitas.jenisDokumen"
								header="{{'frmMonitoringUserBaru_jenisIdentitas'| translate | splitCharT }}"></p-column>
							<p-column field="noIdentitas"
								header="{{'frmMonitoringUserBaru_noIdentitas'| translate | splitCharT }}">
							</p-column>
							<p-column field="negara"
								header="{{'frmMonitoringUserBaru_negara'| translate | splitCharT }}">
							</p-column>
							<p-column field="noTelepon"
								header="{{'frmMonitoringUserBaru_noTelp'| translate | splitCharT }}">
							</p-column>
							<p-column field="email" header="{{'frmMonitoringUserBaru_email'| translate | splitCharT }}">
							</p-column>
							<p-column field="jenisAlamat.jenisAlamat"
								header="{{'frmMonitoringUserBaru_jenisAlamat'| translate | splitCharT }}">
							</p-column>
							<p-column field="alamatLengkap"
								header="{{'frmMonitoringUserBaru_alamatLengkap'| translate | splitCharT }}">
							</p-column>
						</p-dataTable>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<p-dialog header="{{'frmCustomerCare_aktifkan'| translate | splitCharT}}" [(visible)]="popuptgl" [modal]="true"
	[responsive]="true" [style]="{width: '350px', minWidth: '200px'}">
	<app-calender [monthNavigator]="true" [(ngModel)]="tglAktif" [inline]="true" [yearNavigator]="true"
		yearRange="2000:2030" [showIcon]="true" dateFormat="dd M yy">
	</app-calender>
	<p-footer>
		<button pButton type="button" label="{{'frmCustomerCare_simpan'| translate | splitCharT}}"
			(click)="onChangeAktif()"></button>
	</p-footer>
</p-dialog>