<div class="ui-fluid">
	<div class="ui-g">
		<div class="ui-g-12">
			<div class="card card-w-title">
				<p-confirmDialog header="Confirmation" icon="fa fa-question-circle" width="425"></p-confirmDialog>
				<h1>{{'frmGolonganPegawai_title'| translate | splitCharT }}</h1>
				<p-tabView (onChange)="onTabChange($event)" [activeIndex]="tabIndex">
					<p-tabPanel header="Level Jabatan">
						<h1>{{'frmGolonganPegawai_golonganPegawaiHead'| translate | splitCharT }}</h1>
						<form [formGroup]="form">
							<div class="ui-g form-group">
								<div class="ui-g-12 ui-md-4">
									<label>{{'frmGolonganPegawai_nama'| translate | splitCharT }}<span style="color: red;font-weight: bolder;">*</span><span *ngIf="!form.get('namaGolonganPegawai').valid && form.get('namaGolonganPegawai').touched" style="color: red"> {{'required'| translate | splitCharT}}</span></label>
									<input type="text" formControlName="namaGolonganPegawai" [(ngModel)]="toReport" (ngModelChange)="valuechange($event)" pInputText/>
								</div>
								<div class="ui-g-12 ui-md-3">
									<label for="input">{{'frmGolonganPegawai_noUrut'| translate | splitCharT }}</label>
									<input type="text" formControlName="noUrut" pInputText />
								</div>
								<div class="ui-g-12 ui-md-1">
									<br>
									<p-checkbox binary="true" label="{{'frmGolonganPegawai_status'| translate | splitCharT }}" formControlName="statusEnabled"></p-checkbox>
								</div>
								<div class="ui-g-12 ui-md-4">
									<p-fieldset legend="Optional" [toggleable]="true" [collapsed]="true">
										<form [formGroup]="form">
											<div class="ui-g form-group">
												<div class="ui-g-12 ui-md-12">
													<label for="input">{{'frmGolonganPegawai_reportDisplay'| translate | splitCharT }} <span style="color: red;font-weight: bolder;"></span><span *ngIf="!form.get('reportDisplay').valid && form.get('reportDisplay').touched" style="color: red">* {{'required'| translate | splitCharT}}</span></label>
													<input type="text" formControlName="reportDisplay" [(ngModel)]="report" pInputText/>
												</div>
												<div class="ui-g-12 ui-md-12">
													<label for="input">{{'frmGolonganPegawai_kodeExternal'| translate | splitCharT }}</label>
													<input type="text" formControlName="kodeExternal" pInputText/>
												</div>
												<div class="ui-g-12 ui-md-12">
													<label for="input">{{'frmGolonganPegawai_namaExternal'| translate | splitCharT }}</label>
													<input type="text" formControlName="namaExternal" pInputText/>
												</div>
											</div>
										</form>
									</p-fieldset>
								</div>
								<div class="ui-g-12 ui-md-1 ui-md-offset-7">
									<button pButton type="button" label="{{'frmGolonganPegawai_btnBatal'| translate | splitCharT}}" icon="fa-refresh" (click)="reset()"></button>
								</div>
								<div class="ui-g-12 ui-md-1">
									<button pButton type="submit" label="{{'frmGolonganPegawai_btnSimpan'| translate | splitCharT}}" icon="fa-save" (click)="onSubmit()"></button>
								</div>
								<div class="ui-g-12 ui-md-1">
									<button pButton type="button" label="{{'frmGolonganPegawai_btnHapus'| translate | splitCharT}}" icon="fa-trash" (click)="confirmDelete()"></button>
								</div>
								<div class="ui-g-12 ui-md-1">
									<button pButton type="button" label="{{'frmGolonganPegawai_btnCetak'| translate | splitCharT}}" icon="fa-print" (click)="cetakGolongan()"></button>
								</div>
								<div class="ui-g-12 ui-md-1">
									<p-splitButton label="{{'frmGolonganPegawai_btnExport'| translate | splitCharT }}" icon="fa-external-link" [model]="items"></p-splitButton>
								</div>
							</div>
						</form>
					</p-tabPanel>
					<!-- Tab Child -->
					<p-tabPanel *ngFor="let item of listTab" [header]="item.namaGolonganPegawai">
						<h1>{{item.namaGolonganPegawai}}</h1>
						<form [formGroup]="form">
							<div class="ui-g form-group">
								<div class="ui-g-12 ui-md-4">
									<label>{{'frmGolonganPegawai_nama'| translate | splitCharT }}<span style="color: red;font-weight: bolder;">*</span><span *ngIf="!form.get('namaGolonganPegawai').valid && form.get('namaGolonganPegawai').touched" style="color: red"> {{'required'| translate | splitCharT}}</span></label>
									<input type="text" formControlName="namaGolonganPegawai" [(ngModel)]="toReport" (ngModelChange)="valuechange($event)" pInputText/>
								</div>
								<div class="ui-g-12 ui-md-3">
									<label for="input">{{'frmGolonganPegawai_noUrut'| translate | splitCharT }}</label>
									<input type="text" formControlName="noUrut" pInputText />
								</div>
								<div class="ui-g-12 ui-md-1">
									<br>
									<p-checkbox binary="true" label="{{'frmGolonganPegawai_status'| translate | splitCharT }}" formControlName="statusEnabled"></p-checkbox>
								</div>
								<div class="ui-g-12 ui-md-4">
									<p-fieldset legend="Optional" [toggleable]="true" [collapsed]="true">
										<form [formGroup]="form">
											<div class="ui-g form-group">
												<div class="ui-g-12 ui-md-12">
													<label for="input">{{'frmGolonganPegawai_reportDisplay'| translate | splitCharT }} <span style="color: red;font-weight: bolder;"></span><span *ngIf="!form.get('reportDisplay').valid && form.get('reportDisplay').touched" style="color: red">* {{'required'| translate | splitCharT}}</span></label>
													<input type="text" formControlName="reportDisplay" [(ngModel)]="report" pInputText/>
												</div>
												<div class="ui-g-12 ui-md-12">
													<label for="input">{{'frmGolonganPegawai_kodeExternal'| translate | splitCharT }}</label>
													<input type="text" formControlName="kodeExternal" pInputText/>
												</div>
												<div class="ui-g-12 ui-md-12">
													<label for="input">{{'frmGolonganPegawai_namaExternal'| translate | splitCharT }}</label>
													<input type="text" formControlName="namaExternal" pInputText/>
												</div>
											</div>
										</form>
									</p-fieldset>
								</div>
								<div class="ui-g-12 ui-md-1 ui-md-offset-7">
									<button pButton type="button" label="{{'frmGolonganPegawai_btnBatal'| translate | splitCharT}}" icon="fa-refresh" (click)="reset()"></button>
								</div>
								<div class="ui-g-12 ui-md-1">
									<button pButton type="submit" label="{{'frmGolonganPegawai_btnSimpan'| translate | splitCharT}}" icon="fa-save" (click)="onSubmit()"></button>
								</div>
								<div class="ui-g-12 ui-md-1">
									<button pButton type="button" label="{{'frmGolonganPegawai_btnHapus'| translate | splitCharT}}" icon="fa-trash" (click)="confirmDelete()"></button>
								</div>
								<div class="ui-g-12 ui-md-1">
									<button pButton type="button" label="{{'frmGolonganPegawai_btnCetak'| translate | splitCharT}}" icon="fa-print" (click)="cetakChild()"></button>
								</div>
								<div class="ui-g-12 ui-md-1">
									<p-splitButton label="{{'frmGolonganPegawai_btnExport'| translate | splitCharT }}" icon="fa-external-link" [model]="itemsChild"></p-splitButton>
								</div>
							</div>
						</form>
					</p-tabPanel>
				</p-tabView>
				<div class="ui-g form-group">
					<div class="ui-g-12">
						<p-dataTable [value]="listData" [rows]="10" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]" selectionMode="single"
						[(selection)]="selected" (onRowSelect)="onRowSelect($event)" [lazy]="true" [loading]="loading" loadingIcon="fa-spinner"
						[totalRecords]="totalRecords" (onLazyLoad)="loadPage($event)" expandableRows="true">
						<p-header>
							<div class="ui-helper-clearfix">
								<i class="fa fa-search" style="padding:0.5em 0.5em;float:right"></i>
								<input type="text" pInputText size="50" placeholder="{{'frmGolonganPegawai_tablePencarian'| translate | splitCharT}}" [(ngModel)]="pencarian"
								(keyup)="cari()" style="width: 20%;float:right;">
								<span style="float: left;padding:0.3em;">{{'frmGolonganPegawai_tableTitle'| translate | splitCharT }}</span>
							</div>
						</p-header>
						<p-column expander="true" styleClass="col-icon" [style]="{'width':'50px'}"> </p-column>
						<p-column field="namaGolonganPegawai" header="{{'frmGolonganPegawai_tableNama'| translate | splitCharT}}"></p-column>
						<p-column field="noUrut" header="{{'frmGolonganPegawai_tableNoUrut'| translate | splitCharT}}"></p-column>
						<p-column field="statusEnabled" header="{{'frmGolonganPegawai_tableStatus'| translate | splitCharT }}">
							<ng-template let-col="rowData" pTemplate type="body">
								{{col.statusEnabled | truefalse | translate | splitCharT }}
							</ng-template> 
						</p-column>
						<ng-template let-gol pTemplate="rowexpansion">
							<div class="ui-grid ui-grid-responsive ui-fluid" style="padding-left:27px">
								<div class="ui-grid ui-grid-responsive ui-grid-pad">
									<div class="ui-grid-col-12">
										<div class="ui-grid ui-grid-responsive ui-grid-pad">
											<div class="ui-grid-row">
												<div class="ui-grid-col-2 label">
													<span style="color:black">{{ 'frmGolonganPegawai_optional' | translate | splitCharT }}</span>
												</div>
											</div>
											<hr>
											<div class="ui-grid-row">
												<div class="ui-grid label">{{'frmGolonganPegawai_tableReportDisplay'| translate | splitCharT }} </div>
												<div class="ui-grid-col-4"> {{gol.reportDisplay}}</div>
											</div>
											<div class="ui-grid-row">
												<div class="ui-grid label">{{'frmGolonganPegawai_tableKodeExternal' | translate | splitCharT}} </div>
												<div class="ui-grid-col-4">{{gol.kodeExternal}}</div>
											</div>
											<div class="ui-grid-row">
												<div class="ui-grid label">{{'frmGolonganPegawai_tableNamaExternal'| translate | splitCharT}} </div>
												<div class="ui-grid-col-4">{{gol.namaExternal}}</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</ng-template>
					</p-dataTable>
				</div>
			</div>
		</div>
	</div>
</div>
</div>