<div class="ui-fluid">
	<div class="ui-g">
		<div class="ui-g-12">
			<div class="card card-w-title">
				<p-confirmDialog header="Confirmation" icon="fa fa-question-circle" width="425"></p-confirmDialog>
				<h1>{{'frmMapProdukKeSatuanStandar_title'| translate | splitCharT}}</h1>
				<div class="ui-g form-group">
					<div class="ui-g-6">
						<form [formGroup]="form" (ngSubmit)="onSubmit()">
							<div class="ui-g-6 ui-md-8">
								<label for="input">{{'frmMapProdukKeSatuanStandar_produk' | translate | splitCharT }}
									<span style="color: red;font-weight: bolder;">*</span>
									<span *ngIf="!form.get('kdProduk').valid && form.get('kdProduk').touched" style="color: red">  {{'required'| translate | splitCharT}}</span>
								</label>
								<p-dropdown id="dropdown" (ngModelChange)="clearPanelBawah($event)" filter="filter" class="ui-inputwrapper-filled" [(ngModel)]="kdProduk"
								 formControlName="kdProduk" [options]="kodeProduk" [autoWidth]="false"></p-dropdown>

							</div>
						</form>
					</div>
					<div class="ui-g-12">
						<p-blockUI [target]="pnl" [blocked]="hasilCek" [baseZIndex]=10 [autoZIndex]="false">
							<i class="fa fa-lock fa-5x" style="position:absolute;top:25%;left:50%"></i>
						</p-blockUI>
						<p-fieldset #pnl>
							<!-- <div class="ui-g-12">
								<div class="ui-g-2">
									<div *ngFor="let data of listData; let i = index" class="ui-g-12">
										<p-checkbox (change)="onChange()" value={{data.id_kode}} label="{{data.namaSatuanStandar}}" [(ngModel)]="pilihan" inputId="{{i}}"></p-checkbox>
										
									</div>
								</div>
								 <div class="ui-g-2">
									<div *ngFor="let data of listData; let i = index" class="ui-g-12">
										 <input type="number"  placeholder="{{'qtySatuKemasan' | translate | splitCharT }}" [(ngModel)]="qty" pInputText/> 

									</div>
								</div> 
							</div> -->
							<div class="ui-g-6">
								<p-dataTable #da [value]="listData" [(selection)]="selectedSatuan" [rows]="10" [editable]="true" [headerCheckboxToggleAllPages]="true"
								 loadingIcon="fa-spinner" [lazy]="false" [totalRecords]="totalRecords" (onLazyLoad)="loadPage($event)" (selectionChange)="selectionData($event)">
									<p-column field="isCheck" [style]="{'width':'38px'}" selectionMode="multiple"></p-column>
									<p-column field="namaSatuanStandar" header="{{'frmMapProdukKeSatuanStandar_nama'| translate | splitCharT }}" [editable]="false"></p-column>
									<p-column field="qtySatuKemasan" header="{{'frmMapProdukKeSatuanStandar_qtySatuan'| translate | splitCharT }}" [editable]="true">
										<!-- <ng-template let-col let-data="rowData" let-i="rowIndex" pTemplate="editor">
										<input type="number" pInputText [(ngModel)]="data[col.field]" [ngModelOptions]="{standalone: true}" (keyup)="getInputQty($event, data, i)"
										 appendTo="body">
									</ng-template> -->
									</p-column>
								</p-dataTable>
							</div>
						</p-fieldset>
					</div>
					<!-- <div class="ui-g-6 ui-md-10">
						<div class="checkbox_cont">
							<div class="checkbox ">
								<p-checkbox [(ngModel)]="pilihSemua" [disabled]="hasilCek" (click)="selectAll()" label="Pilih Semua" binary="true"></p-checkbox>
							</div>
						</div>
					</div> -->
					<div class="ui-g-12">
						<form [formGroup]="form" (ngSubmit)="onSubmit()">
							<div class="ui-g-12 ui-md-8"></div>
							<div class="ui-g-12 ui-md-8"></div>
							<div class="ui-g-12 ui-md-8"></div>
							<div class="ui-g-12 ui-md-2"></div>
							<div class="ui-g-12 ui-md-2">
								<button pButton type="submit" label="{{'frmMapProdukKeSatuanStandar_simpan'| translate | splitCharT}}" icon="fa-save"></button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>