<div class="ui-fluid">
  <div class="ui-g">
    <div class="ui-g-12">
      <div class="card card-w-title">
        <p-confirmDialog header="Confirmation" icon="fa fa-question-circle" width="425"></p-confirmDialog>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <h1>{{'frmMapGolonganPegawaiToPangkat_title'| translate | splitCharT}}</h1>
          <div class="ui-g form-group">
            <div class="ui-g-6">
              <div class="ui-g-6 ui-md-8">
                <label for="input">{{'frmMapGolonganPegawaiToPangkat_levelJabatanClass'| translate | splitCharT }}
                  <span style="color: red;font-weight: bolder;">*</span>
                  <span *ngIf="!form.get('kdGolonganPegawai').valid && form.get('kdGolonganPegawai').touched" style="color: red">{{'frmMapGolonganPegawaiToPangkat_required'| translate | splitCharT}}</span>
                </label>
                <p-dropdown id="dropdown" [(ngModel)]="kdGolonganPegawai" (ngModelChange)="clearPanelBawah($event)" filter="filter" class="ui-inputwrapper-filled"
                  formControlName="kdGolonganPegawai" [options]="kodeGolongan" [autoWidth]="false"></p-dropdown>
              </div>
            </div>
          </div>
        </form>
        <div class="ui-g-12">
          <p-blockUI [target]="pnl" [blocked]="hasilCek" [baseZIndex]=10 [autoZIndex]="false">
            <i class="fa fa-lock fa-5x" style="position:absolute;top:25%;left:50%"></i>
          </p-blockUI>
          <p-fieldset #pnl>
            <!-- <form [formGroup]="form">  -->
            <div *ngFor="let data of listData; let i = index" class="ui-g-3">
              <p-checkbox name="group1" (change)="onChange()" value="{{data.id_kode}}" label="{{data.namaPangkat}}" [(ngModel)]="pilihan"
                inputId="{{i}}"></p-checkbox>
              <!-- <input type="checkbox" (change)="onChange(data.values, $event.target.checked)"  value="data.selected" [checked]="data.selected">{{data.label}}<br> -->
            </div>
            <!-- </form>  -->
            <!-- <pre>Form values: {{myForm.value | json}}</pre>  -->
          </p-fieldset>
        </div>
        <div class="ui-g-6 ui-md-10">
          <!-- <form [formGroup]="form"> -->
          <div class="checkbox_cont">
            <div class="checkbox ">
              <p-checkbox [(ngModel)]="pilihSemua" [disabled]="hasilCek" (click)="selectAll()" label="{{'frmMapGolonganPegawaiToPangkat_pilihSemua'| translate | splitCharT}}"
                binary="true"></p-checkbox>
              <!-- <input type="checkbox" id="pilihSemua" name="pilihSemua" value="pilihSemua" (click)="toggleSelect($event)" /> -->
              <!-- <label for="pilihSemua">Pilih Semua</label> -->
            </div>
          </div>
          <!-- </form> -->
        </div>
        <div class="ui-g-12">
          <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="ui-g-12 ui-md-8"></div>
            <div class="ui-g-12 ui-md-8"></div>
            <div class="ui-g-12 ui-md-8"></div>
            <div class="ui-g-12 ui-md-2"></div>
            <div class="ui-g-12 ui-md-2">
              <button pButton type="button" label="{{'frmMapGolonganPegawaiToPangkat_btnSimpan'| translate | splitCharT}}" icon="fa-save" (click)="onSubmit()"></button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>