<div class="ui-fluid">
  <div class="ui-g">
    <div class="ui-g-12">
      <div class="card card-w-title">
        <h1>PROFILE HISTORI LAPORAN</h1>
        <div class="ui-g form-group">
          <div class="ui-g-6">
            <div class="ui-g-12 ui-md-4">
              <label for="input">Nomor Histori</label>
            </div>
            <div class="ui-g-12 ui-md-8">
              <input id="input" type="text" [(ngModel)]="noHistori" pInputText/>
            </div>
            <div class="ui-g-12 ui-md-4">
              <label for="input">Event</label>
            </div>
            <div class="ui-g-12 ui-md-8">
                <p-dropdown id="dropdownEvent" [options]="listEvent" [(ngModel)]="event" [autoWidth]="false"></p-dropdown>
            </div>
            <div class="ui-g-12 ui-md-4">
              <label for="input">Deskripsi Event</label>
            </div>
            <div class="ui-g-12 ui-md-8">
              <input id="input" type="text" [(ngModel)]="deskripsiEvent" pInputText/>
            </div>
            <div class="ui-g-12 ui-md-4">
              <label for="input">Rekanan Organizer</label>
            </div>
            <div class="ui-g-12 ui-md-8">
               <p-dropdown id="dropdownRekanan" [options]="listRekanan" [(ngModel)]="rekOrganizer" [autoWidth]="false"></p-dropdown>
            </div>
             <div class="ui-g-12 ui-md-4">
              <label for="input">Departemen Organizer</label>
            </div>
            <div class="ui-g-12 ui-md-8">
               <p-dropdown id="dropdownDepartemen" [options]="listDepartemen" [(ngModel)]="depOrganizer" [autoWidth]="false"></p-dropdown>
            </div>
          </div>
          <div class="ui-g-6">
            <div class="ui-g-12 ui-md-4">
              <label for="input">Ruangan Organizer</label>
            </div>
            <div class="ui-g-12 ui-md-8">
              <p-dropdown id="dropdownRuangan" [options]="listRuangan" [(ngModel)]="ruangOrg" [autoWidth]="false"></p-dropdown>
            </div>
            <div class="ui-g-12 ui-md-4">
              <label for="input">Path File Folder Event</label>
            </div>
            <div class="ui-g-12 ui-md-8">
              <input id="input" type="text" [(ngModel)]="pathFile" pInputText/>
            </div>
            <div class="ui-g-12 ui-md-4">
              <label for="input">Alamat Event</label>
            </div>
            <div class="ui-g-12 ui-md-8">
              <p-dropdown id="dropdownAlamat" [options]="listAlamat" [(ngModel)]="alamatEvent" [autoWidth]="false"></p-dropdown>
            </div>
            <div class="ui-g-12 ui-md-4">
              <label for="input">Keterangan Lainnya</label>
            </div>
            <div class="ui-g-12 ui-md-8">
              <input id="input" type="text" [(ngModel)]="ket" pInputText/>
            </div>
            <div class="ui-g-12 ui-md-4">            
            </div>
            <div class="ui-g-12 ui-md-4">
              <p-checkbox name="cbAktif" value="" label="Aktif" [(ngModel)]="kdaktif"></p-checkbox>
            </div>
          </div>
          <div class="ui-g-12">
            <div class="ui-g-12 ui-md-8"></div>
            <div class="ui-g-12 ui-md-1">
              <button pButton type="button" label="SIMPAN" icon="fa-save"></button>
            </div>
            <div class="ui-g-12 ui-md-1">
              <button pButton type="submit" label="HAPUS" icon="fa-close"></button>
            </div>
            <div class="ui-g-12 ui-md-1">
              <button pButton type="submit" label="BATAL" icon="fa-close"></button>
            </div>
            <div class="ui-g-12 ui-md-1">
              <button pButton type="submit" label="TUTUP" icon="fa-close"></button>
            </div>
          </div>
          <div class="ui-g-12">
            <p-dataTable [value]="dataPasien" [rows]="10" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]">
              <p-column field="noHistori" header="Nomor Histori"></p-column>
              <p-column field="event" header="Event"></p-column>
              <p-column field="deskripsiEvent" header="Deskripsi Event"></p-column>
              <p-column field="rekOrganizer" header="Rekanan Organizer"></p-column>
                <p-column field="depOrganizer" header="Departemen Organizer"></p-column>
              <p-column field="ruangOrg" header="Ruangan Organizer"></p-column>
              <p-column field="pathFile" header="Path File Folder Event"></p-column>
              <p-column field="alamatEvent" header="Alamat Event"></p-column>
              <p-column field="ket" header="Keterangan lainnya"></p-column>
           
            </p-dataTable>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>