<p-confirmDialog header="Confirmation" icon="fa fa-question-circle" width="425" [responsive]="true"></p-confirmDialog>
<div class="kiosk-main">
  <div class="header-title">
    <div class="container">
      <div class="header-item">
        <img src="../../../../assets/layout/images/kiosk/home.svg"
          [routerLink]="['/kiosk']" alt="home">
      </div>
      <div class="header-item">
        <img
          src="../../../../assets/layout/images/kiosk/icon-informasi.png"
          alt="icon">
        <h2>Informasi - Ketersediaan Kamar</h2>
      </div>
      <div class="header-item">
        <img
          src="../../../../assets/layout/images/kiosk/power-button.svg" (click)="logout($event)"
          alt="logout">
      </div>
    </div>
  </div>
  <div class="container-grid">
    <div class="main-content">
      <div>
        <img class="image-content"
          src="../../../../../../assets/layout/images/kiosk/kamar-perawatan.jpg"
          [routerLink]="['/kiosk/informasi/profile']">
        <a href="#" class="underlined"
          [routerLink]="['/kiosk/informasi/profile']">Anyelir 1</a>
      </div>
      <div>
        <img class="image-content"
          src="../../../../../../assets/layout/images/kiosk/kamar-perawatan.jpg"
          [routerLink]="['/kiosk/informasi/']">
        <a href="#" class="underlined" [routerLink]="['/kiosk/informasi/']">Anyelir 2</a>
      </div>
      <div>
        <img class="image-content"
          src="../../../../../../assets/layout/images/kiosk/kamar-perawatan.jpg"
          [routerLink]="['/kiosk/informasi/']">
        <a href="#" class="underlined" [routerLink]="['/kiosk/informasi/']">Anyelir 3</a>
      </div>
      <div>
        <img class="image-content"
          src="../../../../../../assets/layout/images/kiosk/kamar-perawatan.jpg"
          [routerLink]="['/kiosk/informasi/']">
        <a href="#" class="underlined" [routerLink]="['/kiosk/informasi/']">Anyelir 4</a>
      </div>
      <div>
        <img class="image-content"
          src="../../../../../../assets/layout/images/kiosk/kamar-perawatan.jpg"
          [routerLink]="['/kiosk/informasi/']">
        <a href="#" class="underlined" [routerLink]="['/kiosk/informasi/']">Anyelir 5</a>
      </div>
    </div>
  </div>
  <div class="informasi-action" style="margin-top: 100px;">
    <hr>
    <div class="container">
      <button class="btn-subscribe bg-violet"
        [routerLink]="['/kiosk/informasi/kamar-perawatan']">Kembali</button>
    </div>
  </div>
</div>