<div class="cicing-content activity-feed">
	<div class="overview-chart-top">
		<p-toolbar>
			<div class="ui-toolbar-group-left">
				<span class="overview-box-name">{{'PEGAWAI HABIS KONTRAK' | translate | splitCharT | splitCharT }}</span>
			</div>
			<div class="ui-toolbar-group-right" style="margin-right: 55px">
				<input type="text" [(ngModel)]="filterHabisKontrak" (keyup)="searchDataHabisKontrak(filterHabisKontrak, $event)" class="input-kp"
				placeholder="Cari Pegawai">
			</div>
		</p-toolbar>
	</div>
	<div class="ui-g employee-contact" *ngFor="let item of dataHabisKontrak">
		<div class="ui-g-4 ui-md-4">
			<img [src]="(item.photoDiri | imgsec) | async" style="width:80px; height: 80px; border-radius: 50%" onerror="this.onerror=null;this.src='assets/layout/images/profile-image.png';"
			/>
		</div>
		<div class="ui-g-7 ui-md-7">	
			<h4>{{item.namaLengkap}}</h4>
			<hr/>
			<p>{{'Jabatan' | translate | splitCharT | splitCharT }}: {{item.namaJabatan}}</p>
			<p>{{'Departemen' | translate | splitCharT | splitCharT }}: {{item.namaDepartemen}}</p>
			<p>{{'Tanggal Akhir' | translate | splitCharT | splitCharT }}: {{item.tglAkhir * 1000 | date: 'dd/MM/yyyy'}}</p>
			<p>{{'Batas Akhir' | translate | splitCharT | splitCharT }}: {{item.jmlHari}}</p>
		</div>	
	</div>
	<div class="employee-contact-empty" *ngIf="dataHabisKontrak.length == 0">
		<img src="assets/layout/images/profile-image.png" style="width:80px; height: 80px; border-radius: 50%" />
		<hr/>
		<h4>{{'Tidak Ada Data Pegawai Habis Kontrak' | translate | splitCharT | splitCharT }}</h4>
	</div>
	<p-paginator #paginatorHabisKontrak id="paginationHabisKontrak" [rows]="10" [totalRecords]="totalRecordsHabisKontrak" (onPageChange)="paginateHabisKontrak($event)"
	[style]="{'background-color':'transparent'}"></p-paginator>
</div>