.empty-message {
    font-size: 20px;
    text-align: center;
    font-style: oblique;
}

.content-pelayanan {
    margin: 0 auto;
    text-align: center;
    p {
        font-size:20px;
    }

    img {
        max-width: 750px;
        max-height: 500px;
    }
}